[2017-09-10 10:38] dvolosnykh commented on #306
Probably I am facing issues similar to the author of this thread on developers forum: https://forum.parallels.com/threads/after-updating-parallels-shared-folders-no-longer-available-in-ubuntu-16-04.341496/

Downgraded to 12.2.1 (41615), but still no luck. Don't know how to get version 12.2.0 to verify author's suggestion.

[2017-09-10 11:05] dvolosnykh commented on #306
Further downgraded to 11.2.3 (32662). Behaviour is just the same. It appears that this issue is probably present for about 2 years... Is there any plans to fix that?

[2017-09-11 15:42] romankulikov commented on #306
Actually original issue has nothing to do with Parallels Tools update. The thing is in how vagrant-parallels plugin manage Shared Folders.  In `mount_parallels_shared_folder.rb` there's such code:
[code]
After initial VM start it effectively brakes automatic mounting of Shared Folders by internal means of Parallels Tools. So now "all host disks" option cannot be handled by Parallels Tools. Plugin

[2017-09-11 16:59] legal90 commented on #306
Yes, in Vagrant use case it's supposed that all shared folders should be specified explicitly in Vagrantfile, according to the [Vagrant doc page](https://www.vagrantup.com/docs/synced-folders/basic_usage.html).
For example:
[code]

The auto-mounting by Parallels Tools was disabled intentionally (as @romankulikov linked above) to avoid the collision with the similar logic built into Vagrant.
So, th

[2017-09-11 16:59] #306 closed

[2017-09-11 17:14] dvolosnykh commented on #306
Well that sounds sane, but I quite disagree with closing issue. I really wish you have stated such titbits clearly in official documentation of your plugin so that people do not waste time. Only then closing issue seems adequate.

[2017-10-14 11:25] dmytro-kaharlytskyi-exa opened #310 "Full screen view shows black screen"
Hi there,

- OS - macOS 10.13
- Parallels - 10.1.0
- Packer - 1.1.0
- Vagrant - 2.0.0
- vagrant-parallels plugin - 1.7.6

I've build box with packer and when I start vagrant,
it works fine with default screen resolution - http://prntscr.com/gxanux
but when I switch to full screen it's just black - http://prntscr.com/gxao6r
However, RDP works fine with big resolution.

[2017-11-08 14:31] josefglatz opened #311 "Confusing log messages PD_12#execute_prlctl"
Everytime I vagrant up an vm I get the following lines.

So far the VM runs as it should be.

[code]

[2017-11-10 12:58] romankulikov commented on #311
Confirm issue is reproduced on the latest version of vagrant.

[2017-11-13 14:09] slysenko opened #312 "new_env should be new_env2"
https://github.com/Parallels/vagrant-parallels/blob/509b0c756f9a79ea17f38cdc4493f6c173d6059a/test/acceptance/provider/package_spec.rb#L53

`new_env` should be renamed to `new_env2`

currently it generates error:

[code]

[2017-11-14 18:01] fractalzombie commented on #311
Have same logs:

[2017-11-18 12:56] #311 closed

[2017-11-18 12:56] #312 closed

[2017-11-18 13:00] legal90 commented on #311
The issue was reproducible on Vagrant 2.0.1, where Ruby 2.4 was introduced.
Fixed by #313

[2017-12-21 22:27] zhaoyi0113 opened #315 "Failed to install on Mac OS"
I got below error when install this plugin. My MacOS verison is 10.13.1. Vagrant is 2.0.1

[code]

[2017-12-21 22:46] zhaoyi0113 commented on #315
Sorry just realized that I need to install `vagrant-vbguest` first.

[2017-12-21 22:46] #315 closed

[2017-12-29 00:46] salvis opened #316 "What about Parallels Desktop 13?"
https://parallels.github.io/vagrant-parallels/ lists only versions 10, 11, and 12.

Given that
https://forum.parallels.com/threads/parallels-13-and-vagrant-problem.342180/
has never received any reply, I'm wondering...

[2018-01-01 09:09] tuminoid commented on #316
PR13 works for me, but it spams a lot. `vagrant-parallels` version is `1.7.7`

[code]

[2018-01-01 10:46] legal90 commented on #316
@salvis Yes, Parallels Desktop 13 is supported. I'll update the information on the web page soon.
Regarding your issue - please, try to reinstall Vagrant and install the plugin once again. If the error still exists,  please post the output here together with the output of `vagrant plugin list`

@tuminoid The issue you've mentioned was fixed in vagrant-parallels `v1.7.8`
https://github.com/Parallel

[2018-01-01 11:05] tuminoid commented on #316
Thanks, @legal90.

[2018-01-01 15:59] salvis commented on #316
Thanks, both!

[2018-01-01 15:59] #316 closed

[2018-01-16 15:44] gavD opened #317 "Encrypted parallels VM"
I am using vagrant-parallels and would like to encrypt my VM. I ran `vagrant up`, then in Parallels, encrypted my VM.

Subsequent to this, I was unable to `vagrant up` or `vagrant provision` as it prompts for a password.

[code]

Is there any way around this? Can I supply the encryption password as an environment variable or similar?

Thanks,
- Gavin

[2018-01-24 14:13] legal90 commented on #317
@gavD Thank's for filing this issue!
We need to do some work on the provider in order to handle these password prompts and pass them through vagrant CLI.

But before that, I want to figure out something about the `prlctl` behavior.
As I can see, `prlctl` utility asks for a password almost on every action.  Some of them look a bit confusing, for example:
- `prlctl enter`
- `prlctl exec`
- `prlctl c

[2018-02-05 11:36] wizonesolutions commented on #282
I run into this issue with a specific VM (based on https://github.com/geerlingguy/drupal-vm). Going to try updating Parallels and the plugin. Worst-case, I'll eventually try destroying and re-provisioning the VM. Using `bento/ubuntu-16.04`.

[2018-03-20 12:34] legal90 commented on #317
Pinging @alevlasu @romankulikov
Do you guys know - is there a real reason for asking a decryption password for `enter`, `exec`, `capture` and `set` command of `prlctl`? Or it will be removed?

Currently it doesn't look reasonable to implement a support of encrypted VMs in this provider, because it will cause dozens of password prompts for a single `vagrant up` run.

[2018-03-23 09:26] SurferL opened #319 "Cannot connect Hard Drive 0"
### Version Info:
`Packer: 1.2.1`
`Parallels Desktop 13`
`Vagrant: 2.0.3`
`vagrant-parallels (1.7.8)`

I'm having the same issue seen in: https://github.com/Parallels/vagrant-parallels/issues/192, but previously wasn't having this error.

I'm unsure whether or not this is due to the mentioned at https://github.com/hashicorp/packer/issues/1590, and was wondering if someone can clarify?

I don't thi

[2018-03-23 17:14] romankulikov commented on #319
Can you please generate problem report in Parallels Desktop and its id here? For this run in terminal `prlsrvctl problem-report --send`.

[2018-03-23 17:24] SurferL commented on #319
`The problem report was successfully sent with id: 248114003`

Although I'm not sure if this is the correct one, but it should be!

[2018-03-23 18:07] romankulikov commented on #317
It is an intentional behaviour.

I'm not sure if its worth using VM encryption at all in vagrant-related environments. May be file system encryption by own means of guest OS is a more suitable thing here.

[2018-03-25 19:14] Baune8D commented on #319
Same error here! Cannot boot Windows VM, error "Cannot connect Hard Drive 1"

Same software versions as OP. This happens on a brand new install of High Sierra.
I am lost right now as i cannot boot up my work environment.

[2018-03-25 21:51] Baune8D commented on #319
@SurferL I just solved my problem, which seems similar to yours.

See: https://github.com/hashicorp/vagrant/issues/9555
and: https://github.com/hashicorp/packer/issues/5990

Workaround for me is using Packer 1.1.3 to build the .box file.

[2018-03-26 12:56] SurferL commented on #319
@Baune8D Thank you for posting that - I've tried using Packer 1.1.3 to rebuild the boxes, however it still isn't working :( What version of Vagrant and vagrant-packer plugin are you using? I'm on an upgraded install of High Sierra fwiw...

@romankulikov I've generated a new problem report with id: `248516165`, which I built using Packer 1.1.3 instead, if this of use!

[2018-03-26 13:03] Baune8D commented on #319
@Surfer When i built the Packer box with 1.2.1, the box file would have a size of approximatly 5 gb as expected. But after Vagrant imported the box the hdd file would be less than 1 mb. So that is the reason Parallels complained about the hard disk file.

It would be pretty easy to see if you have the same problem as me, just check the size of the imported .hdd file in ~ /.vagrant.d/boxes

Softwar

[2018-03-26 16:42] SurferL commented on #319
@Baune8D I wiped Packer entirely from the System, and reinstalled from https://releases.hashicorp.com/packer/1.1.3/packer_1.1.3_darwin_amd64.zip (placing it in `/usr/local/bin`)

I thought it was a bit more promising as there is the harddisk listed:

[code]
I'm a tad confused with `/harddisk.hdd/harddisk.hdd` being `0`, but I mean, the other harddisk is there.

But then doing:
[code]
shows that it

[2018-03-30 16:12] romankulikov commented on #319
@SurferL, thank you for your problem reports! Unfortunately I cannot be 100% sure but _it looks like_ that your hard disk is going fail. There're system IO errors in logs. Can you please try to reproduce the problem working with VM-s one any other disk (external, for example)?

[2018-03-31 08:37] legal90 commented on #319
That is a bug in `libarchive`, which affected Go compiler 1.10: https://github.com/golang/go/issues/24599#issuecomment-377351717
Then it affects Packer 1.2.1 and 1.2.2, which were compiled with Go 1.10: https://github.com/hashicorp/packer/issues/5990#issuecomment-372331979

It was worked around on Packer's side: https://github.com/hashicorp/packer/pull/6084
@SurferL, @Baune8D so you should try to

[2018-04-06 14:24] howanu opened #320 "Can create folders but not create files to /vagrant"
Does anyone know how [issue 300](https://github.com/Parallels/vagrant-parallels/issues/300) was fixed? I'm seeing similar symptoms using

- Parallels 13.3.0
- Vagrant 2.0.3
- Mac High Sierra 10.13.4
- box based on bento/ubuntu-16.04

I can create directories on /vagrant, but not edit or create files.

The same environment and box are working successfully for two colleagues.

Here's the issue:

exe

[2018-04-09 21:13] mcginty opened #321 "nokogiri dependency issue in latest vagrant"
This issue just came up when I upgraded my vagrant to 2.0.3 today.

[code]

[2018-04-11 12:38] romankulikov commented on #320
Can you please show `ls -ld` on the host directory shared with the virtual machine under the name "vagrant"?

[2018-04-11 12:48] romankulikov commented on #321
I cannot reproduce this problem.

[2018-04-11 12:51] howanu commented on #320
Thanks for your response. The ls -ld shows permissions of "drwxrwxrwx".

However, I was able to fix the problem yesterday. I found that my host files' group ownership differed from that my colleagues. When I performed a chgrp -R to make our group ownerships match, the problem disappeared.

I'm still not sure why my default Mac group permissions would cause the problem. I've been using them for 3 y

[2018-04-11 12:51] #320 closed

[2018-04-11 20:38] mcginty commented on #321
Interesting. I just reverted to vagrant-2.0.2 and this issue doesn't happen, so it's something to do with the 2.0.2 - 2.0.3 diff. Anything else I can do to give more debug info?

[2018-04-12 08:33] legal90 commented on #321
@mcginty Please, try to install Vagarnt v2.0.3 back and then repair plugins:
[code]
If it doesn't help, then do an expunge, so plugins will be reinstalled from the scratch:
[code]
https://www.vagrantup.com/docs/cli/plugin.html

[2018-04-16 15:50] #289 closed

[2018-04-22 19:04] mcginty commented on #321
`vagrant plugin repair` worked for me after I re-upgraded to 2.0.3. Thanks for the recommendation! It'd be nice if vagrant recommended that earlier instead of dumping a stacktrace, but I think this is their bug at that point and not yours ;).

[2018-04-22 19:04] #321 closed

[2018-04-28 20:49] legal90 commented on #319
Packer v1.2.3 has been released recently. This issue should be fixed there.

[2018-04-28 20:49] #319 closed

[2018-05-07 21:31] wizonesolutions opened #322 "The specified network adapter cannot be installed on your Mac."
I'm running into a new error in Vagrant 2.1.0:

[code]

vagrant-parallels version: 1.7.8

I'm not sure how I would try to reproduce this via the GUI. I've submitted my debug logs anyway. ID: 255283886

[2018-05-08 08:35] legal90 commented on #322
@wizonesolutions The error comes from Parallels Desktop and most likely you run out of max allowed virtual interfaces, which seems to be locked at 16.

I've managed to reproduce it manually:
[code]

[code]
Do you really have 15 VMs using different host-only interfaces?

[2018-05-08 08:41] wizonesolutions commented on #322
@legal90 Yeah. They are not all active, but I guess it does not remove the old interfaces on suspend? Although I think most of them are halted. Let me try a different IP on an existing IP range, then...

[2018-05-08 08:46] wizonesolutions commented on #322
That worked! It would be great if the plugin could detect this situation and output a clearer error message, at least—or perhaps manage networks a bit more aggressively. Because it can always recreate them, right? Especially if the VM in question is halted. If suspended, I understand wanting to keep them up, since removing them might mess up NFS?

Thanks for the quick reply!

[2018-05-08 08:46] #322 closed

[2018-05-08 09:02] legal90 commented on #322
Virtual interfaces are deleted only on VM deletion (`vagrant destroy`) and only if there are no other VM using the same interface.

FYI: our provider tries to optimize the number of `vnics`, so it should use the same existing vnic for multiple VMs if they are configured with `private_network`s sharing the same IP range.
For example, such 2 VMs will share the same vnic:
[code]

[2018-05-17 14:07] bennowak opened #323 "Provider is not being listed when attempting vagrant box add laravel/homestead"
I get the following when running the command on my mac (macos 10.13.4)
Latest parallels is installed, latest provider installed

`mymacos$ vagrant box add laravel/homestead
==> box: Loading metadata for box 'laravel/homestead'
    box: URL: https://vagrantcloud.com/laravel/homestead
This box can work with multiple providers! The providers that it
can work with are listed below. Please review the l

[2018-05-17 14:42] legal90 commented on #323
@bennowak Please make sure that you are using the proper box name in your Vagrantfile (e.q. in your `vagrant init` command). Seems like you have `"base"` there instead of `"laravel/homestead"`.

That should work:
[code]

[2018-07-11 18:18] tradel commented on #206
Still an issue in 1.7.8.

First machine errored with:
[code]

Second machine errored with:
[code]

[2018-08-15 01:22] Felipe-Rubin opened #324 "How to properly share a folder ?"
I'm trying to make a buildroot 2017.11 distribution with parallels/ubuntu-16.04.
I've run into this issue:
[code]

There's a folder in  my MacOS that contains buildroot in it. It's shared, with vagrant with NFS.

[code]
Am I sharing it wrong ?

[2018-08-19 13:14] legal90 commented on #324
@Felipe-Rubin Please check file/dir permissions in your particular case.

I the clean environment everything work fine with options you provided:
[code]

[code]

As we can see, the hard link was created successfully. So, I'm guessing the issue lays out of the scope of out provider.

[2018-08-19 13:14] #324 closed

[2018-08-19 13:38] legal90 commented on #310
I'm pretty sure that this problem is caused by the compatibility issue between Parallels Tools installed in the VM (derived from a box) and the host part of Parallels Desktop - 10.1.0 was already too old in Oct 2017.

The list of versions reached their End-Of-Life could be found here: https://kb.parallels.com/en/123560

I understand that my reply is too late most likely. But if the issue still aff

[2018-08-19 13:38] #310 closed

[2018-08-19 13:49] legal90 commented on #317
We should state that the "VM encryption" feature of Parallels Desktop is not supported by this vagrant provider and there are no plans to have it implemented.

I'm closing this issue.

[2018-08-19 13:49] #317 closed

[2018-08-19 13:52] legal90 commented on #251
I'm closing this issue due to the long period of inactivity. If it is still actual - feel free to create a new one.

[2018-08-19 13:52] #251 closed

[2018-08-19 13:55] legal90 commented on #138
I'm closing this issue due to the long period of inactivity. If it is still actual - feel free to create a new one.

[2018-08-19 13:55] #138 closed

[2018-08-30 18:35] dazwin opened #325 "Unable to mount folders with Parallels 14"
Here's a sample Vagrantfile:

[code]

Works fine on Parallels 13, but errors with the following on 14:
[code]

If I remove the guest tools update, the VM boots successfully.

[2018-08-31 09:18] legal90 commented on #325
I can confirm this issue on Parallels Tools for Linux v14

It seems that `prl_fs` module in the newer version of guest tools doesn't support mounting the single device (shared folder) to the multiple targets.
By default Parallels Tools mounts all shared folders to `/media/psf/<folder_name>` and now vagrant fails to mount it to the desired point:

[code]
@romankulikov do you know, is it an expected

[2018-09-01 20:07] luc-lynx opened #326 "PrlHandle_FromString: Invalid argument. An invalid argument was passed"
**Problem description:**

I'm trying to use vagrant with parallels and I've run up against the following error:

[code]
**System info:**
Mac OS High Sierra 10.13.6 (17G65)

**Parallels Version:**
Parallels Desktop for Mac Business Edition, Version 13.3.2 (43368)

**Additional info:**

And indeed, it I type manually the following command:

[code]

I'm getting the same error.

[2018-09-01 20:42] luc-lynx commented on #326
Updated my Parallels to 14 but the problem remained

[2018-09-03 06:43] legal90 commented on #326
It seems like an issue of license activation.
Pinging @alevlasu, @romankulikov - we might meed your assistance here.

[2018-09-03 13:47] romankulikov commented on #326
@luc-lynx, could you please reproduce the problem, generate problem report (`prlsrvctl problem-report --send`) and post its id here.

[2018-09-04 02:02] nachopants commented on #325
Can confirm this is broken as well.

Bringing machine 'default' up with 'parallels' provider...
==> default: Preparing network interfaces based on configuration...
    default: Adapter 0: shared
==> default: Clearing any previously set network interfaces...
==> default: Forwarding ports...
    default: 80 => 8080
    default: 443 => 8443
    default: 3306 => 3306
==> default: Booting VM...
==> def

[2018-09-04 12:53] legal90 commented on #325
@romankulikov Thanks for your reply! Do you have any suggestions how can we work it around and prevent shared folders from auto-mounting to `/media/pfs/` ?
Or we should wait for the fix on Parallels Tools side?

[2018-09-04 15:49] romankulikov commented on #325
@legal90 well, trivial workaround is to get rid of `/usr/bin/prlfsmountd` (rename it or replace to somewhere) in the guest. But, of course, better is to wait for a fix on a Parallels Desktop side.

[2018-09-05 13:18] legal90 commented on #325
@romankulikov Yeah, that's what we already do. The thing is that Parallels Tools daemon starts pretty early, so it executes this script on the initial boot _before_ we modify it.
Okay, we'll wait for the fix on the Parallels Desktop side.

Also, I think we should send a patch to Packer (to its `parallels` builder), so `/usr/bin/prlfsmountd` will be disabled on the box build step.

[2018-09-07 18:10] romankulikov commented on #326
Ok. Try this command instead:
[code]

[2018-09-10 18:44] getsource commented on #325
Just a quick note that I was bit by this as well and spent a long time figuring it out before rolling back to Parallels 13. Thanks folks in here for pointing out the bug!

[2018-09-12 08:35] luc-lynx commented on #326
```The problem report was successfully sent with id: 275119399```

[2018-09-17 09:17] luc-lynx commented on #326
Any updates?

[2018-09-17 18:07] romankulikov commented on #326
@luc-lynx, can you please try to re-activate Parallels Desktop? Make sure you have the valid license key beforehand. Then you should:
1. stop the product:
[code]
2. remove license file:
[code]
3. start Parallels Desktop again and enter valid license key.

[2018-10-03 12:21] max-arnold commented on #325
Have the same issue, but the second boot is fine (as in #133). The machine config is minimal:

[code]
The image I use was prepared with `packer build -only=parallels-iso ubuntu-18.04-amd64.json` using Bento boxes: https://github.com/chef/bento/tree/master/ubuntu.

Parallels 14.0.1, Vagrant  2.1.5, vagrant-parallels 1.7.8.

[2018-10-09 01:58] max-arnold commented on #325
@legal90 I've submitted a patch to bento, feel free to review: https://github.com/chef/bento/pull/1122

[2018-10-09 07:52] legal90 commented on #325
@max-arnold Thank you! Yes, it should fix the issue in `bento/*` boxes.

[2018-10-10 16:14] justinbkay opened #327 "Unable to install plugin, unable to resolve dependency vagrant-vbguest"
Unable to resolve dependency: user requested 'vagrant-vbguest (= 0.15.2)'

[2018-10-21 13:39] legal90 commented on #327
Hi @justinbkay,
Most likely this issue s not directly related to `vagrant-parallels` plugin. Please, try to reinstall all plugins with this command:
[code]
https://www.vagrantup.com/docs/cli/plugin.html#plugin-repair

Then try to install vagrant-parallels once again.

[2018-10-21 13:40] legal90 commented on #326
@luc-lynx Does that issue still exist for you?

[2018-10-21 15:07] justinbkay commented on #327
I was able to get this fixed.  I can't remember what that fix was though.

On Sun, Oct 21, 2018 at 7:39 AM Mikhail Zholobov <notifications@github.com>
wrote:

--
Sites:
http://jbkayconstruction.com
http://www.robsonoutfitters.com
https://twitter.com/justinbkay

It always takes longer than you expect, even when you take into account
Hofstadter’s Law.
- Hofstadter’s Law

[2018-10-21 17:31] #327 closed

[2018-10-21 18:10] legal90 opened #329 "Deprecate official parallels boxes in favor of bento boxes?"
The question is mostly addressed to Parallels guys, but the community suggestions are also welcomed.

As we can see, the "official" `parallels/*` boxes which I used to maintain while working at Parallels, are not updated for almost 2 years: https://app.vagrantup.com/parallels.

Those boxes were derived from Chef's project https://github.com/chef/bento, which is the most popular community project o

[2018-10-22 08:42] TNAJanssen opened #330 "Issues after upgrading to parallels 14 (Automounting disabled)"
Hi All,
Since parallels 14 is have some issues with the shared folders, when i change a file i get this error from PHP:

PHP Warning:  Unexpected character in input:  '

It looks like the endings are converted, but when i downgrade the parallels tools to the version included with parallels 13 it works perfectly.

Does anybody have an idea?

Thanks!

[2018-10-22 13:40] gandalfar commented on #330
I think it's something that changed in the last few days. Since this error started appearing for me today, while I had this setup with Parallels 14 for longer.

[2018-10-22 13:42] TNAJanssen commented on #330
If you install the parallels tools from version 13 (use parallels desktop 14) it works great

[2018-10-22 15:08] gandalfar commented on #330
Lets give a bit more context here for maintainers:

Parallels Tools: 14.0.45154
Parallels 14 for Mac Pro: Version 14.0.1 (45154)

Default vagrant sync mode

[2018-10-23 09:21] gandalfar commented on #330
Since I don't have easy access to version 13 tools, I've dug up to find the problem.

The issue, at least in my case, is that I had 'auto-save' turned on in PHP Storm. For whatever reason, syncing is much slower in Parallels 14 and that meant that I kept seeing partially/incorrectly synced files in my vagrant. Turning off auto-save is a temporary workaround for this issue, for me.

[2018-10-23 10:43] romankulikov commented on #329
@legal90, how do you think, are there any reasons for Parallels to maintain their boxes? What's the point, for example, for somebody to select parallels-box instead of bento-? The only thing I can image at the moment is "proper" version of Parallels Tools being used.

[2018-10-23 10:55] romankulikov commented on #330
In Parallels Tools version 14.0.x in made significant changes and improvements in Shared Folders. Unfortunately they brought some serious issues as well. I expect 14.1.x release be much better.

@TNAJanssen, @gandalfar, can you please provide some narrow test case or steps to reproduce the issue you suffer?

[2018-10-23 10:57] gandalfar commented on #330
Any ideas on how would one approach that? I guess, I could write a watcher that would inspect shared folder and compare some checksums etc. but this sounds like too much work. Do you have any simpler approaches - since it seems (at least to me) that it's a timing/performance thing?

[2018-10-23 12:21] romankulikov commented on #330
You've mentioned changes in PHP Storm are synced slowly: can you provide:
* code base to test;
* example of changes;
* approximate timing of these changes to sync  in Parallels Tools versions 13 and 14.
In other words something for us to try to reproduce the problem.

[2018-10-24 08:56] legal90 commented on #329
@romankulikov Yes, having the vendor-recommended version of Parallels Tools is most likely the only reason why Parallels might want to maintain their own boxes.
But if the customer wants to get the latest version of Parallels Tools it's always possible to get it by enabling `update_guest_tools` provider option. (_Though sometimes it's not a good idea_ 😉  https://github.com/Parallels/vagrant-parall

[2018-10-25 11:49] gandalfar commented on #330
Steps to reproduce at least on my system:

1. Install vvv: ( https://varyingvagrantvagrants.org/docs/en-US/installation/ )

After running `vagrant up` first time, you'll need to do `vagrant reload` as it crashes due to the #325
2. Visit `http://local.wordpress.test/` and confirm the WP site loads. In Chrome, "View Source"

3. With phpstorm open: `~/vagrant-local/www/wordpress-default/public_html/w

[2018-10-25 20:46] luc-lynx commented on #326
I'm sorry for the delay, I'll get back shortly

[2018-10-25 21:28] romankulikov commented on #330
@gandalfar, thanks a lot! Will try to investigate.

[2018-10-31 23:38] nachopants commented on #325
Anyone know if Parallels desktop is fixed for this yet?

[2018-11-01 16:14] gandalfar commented on #330
Btw, for anyone looking at this issue, before it's fixed upstream - it seems that changing sync method to NFS, makes sync work better:

`config.vm.synced_folder "wp", "/var/wp", type: "nfs"`

[2018-11-03 13:32] romankulikov commented on #329
@legal90, is here anything we should discuss here? Any additional info from my side?

[2018-11-03 13:46] romankulikov commented on #325
I hope the fix is coming with one of the nearest updates.

[2018-11-03 14:10] legal90 commented on #329
@romankulikov Not really. I just wanted to ensure that there is no intention at Parallels to maintain `parallels/*` boxes (by any reason).
So, I'm closing this issue and will update doc pages soon. 👍

[2018-11-03 14:10] #329 closed

[2018-11-07 15:50] freto opened #332 "Vagrant becomes unresponsive sometimes and has some issues on reload"
The vagrant machine sometimes becomes unresponsive or extremely slow. It then takes up a lot of memory. To fix the issue, I exited then tried to run `vagrant reload`.
It get stuck at Mounting NFS shared folders and I get the error mount.nfs: Connection timed out
This is the output
[code]

I'm using:
Vagrant Version 2.2.0
Parallels Version 14.0.1 (45154)
Mac OS Version 10.14.1

Vagrant file:
[code]

[2018-11-07 16:21] danemacmillan commented on #332
@freto Can you paste your `VagrantFile` as well?

[2018-11-27 06:34] rtshome commented on #330
Same problem for me too. As a short term solution, I switched back to Parallels 13 to solve the problem .
Does the latest versions of Parallels (14.1.0.45387) and the vagrant plugin (2.0.0) solve the problem?

[2018-11-27 21:39] stephenreay commented on #330
This is still an issue in v14.1.0 (45387)

It's very reproducible for me - any change made in the host environment causes 'corruption' of the file in the guest environment, under particular calls.

e.g. a basic file with a simple echo statement invoked via three methods:

    php foo.php
    php < foo.php
    cat foo.php | php

All work fine the first time. After modifying the file on the host, th

[2018-11-27 22:01] stephenreay commented on #330
To confirm what was reported before - downgrading to v13 tools *does* work

For those interested in this route, try the following:

- Download the v13 installer DMG, and mount (open) it.
- Copy the file `"/Volumes/Parallels Desktop 13/Parallels Desktop.app/Contents/Resources/Tools/prl-tools-lin.iso"` to somewhere easy to access like your Downloads folder
- Attach the copied `.iso` to your vagrant

[2018-11-27 22:33] rtshome commented on #330
Confirming my side too. I'm not sure it's a problem of the vagrant plugin.
I opened time ago an issue on parallels website and I had got the usual  "standard" response.
Is anybody of Parallels reading this? :-(

[2018-11-28 09:20] legal90 commented on #332
Hi @freto,

NFS synced folder plugin is built into vagrant. Please, refer to this thread: https://github.com/hashicorp/vagrant/issues/10234.
And this comment in particular: https://github.com/hashicorp/vagrant/issues/10234#issuecomment-424305964
I hope it will help you!

P.s. I'm closing this issue since it's not related to `vagrant-parallels` provider.

[2018-11-28 09:20] #332 closed

[2018-11-28 10:30] romankulikov commented on #325
This is fixed in 14.1.0 update.

[2018-11-28 11:47] stephenreay commented on #330
@romankulikov thank you for the quick response. Can you give any ETA for when a fixed version will be available?

[2018-11-28 11:57] romankulikov commented on #330
You know according to general corporate policies I cannot give any ETA-s publicly.

If none of workarounds suits you well I may try to publish a separate patch to prl_fs source code.

[2018-11-28 12:04] stephenreay commented on #330
I'm able to run the v13 drivers for myself, that's fine, but I also publish some Vagrant base boxes. I'd rather not do a release and then realise a day later there's an update for v14 drivers.

Thanks again for your efforts on this, it is appreciated.

[2018-11-29 14:53] mpdude commented on #330
I've seen the problems reported here during the last days. Glad to see it's not me going crazy, but the problems are real :-)

We're considering switching our team from virtualbox + NFS sharing to Parallels because since the last OS X updates, NFS has become terribly slow. Parallels Shared Folders seemed to be able to beat this performance-wise.

However, these bugs are a real showstopper for seri

[2018-11-29 15:01] mpdude commented on #330
@stephenreay Regarding your [downgrade instructions](https://github.com/Parallels/vagrant-parallels/issues/330#issuecomment-442234022) – where/how can I download Parallels 13?

[2018-11-29 15:10] mpdude commented on #330
@romankulikov File here, in this repo? Or a better place to give this visibility at Parallels?

[2018-11-29 17:24] romankulikov commented on #330
@mpdude, frankly I don't know. On the one side we have a track of issues in Shared Folders here in vagrant-parallels project. On the other side these issues don't relate directly to the plugin, they are bugs in another product.

@legal90, what do you think?

[2018-11-29 19:54] legal90 commented on #330
@romankulikov I don't mind it to be here, in this GitHub repo, even if the issue is related to Parallels Desktop, not plugin.
Whatever is more convenient for you and other guys from Parallels to track it and communicate with users.

P.s. I personally prefer GitHub rather than forums from the UX perspective (Markdown, mentioning, etc.)

[2018-11-29 20:30] mpdude opened #333 "Directory not showing up when using a FUSE fs with Parallels 14"
This is a follow-up for #330. Possibly it's the same error, namely if the FUSE implementation does something with `mmap` and thus sees an outdated cache? I ran into this because using the `vagrant-bindfs` plugin seemed to work around #330.

Must be an issue with Parallels Tools, not this plugin here itself.

1) Install the `vagrant-bindfs` plugin: https://github.com/gael-ian/vagrant-bindfs
2) Use

[2018-11-29 20:32] mpdude commented on #330
@legal90 and @romankulikov Thanks! I've created #333 as a new issue.

[2018-11-30 14:16] romankulikov commented on #333
Confirm the problem. Issue is reproduced for me.

P.S. Just curious, why do you need to use bindfs here in VM? What permission issues are you trying to solve?

[2018-11-30 16:18] mpdude commented on #333
I had the `bindfs` setup around from times where I had to use NFS to share files between the host and guest. NFS just forwards the UID/GID from the host, so `bindfs` can help to fix that.

I think `prl_fs` can work out of the box, because it always shows files with the UID/GID of the current process.

When I ran into #330, it turned out `bindfs` works around the cached file contents issue, but bri

[2018-11-30 16:22] mpdude commented on #333
Oh, IIRC there was yet another issue with Parallels Tools v14: You cannot `tail` a logfile that Apache has open if it resides on a shared folder. An `strace` shows an `nmap` call fails, `tail` then (mistakenly?) exits with a “not enough memory” error message.

Sounds related to #330 – fancy yet another issue?

[2018-11-30 16:58] romankulikov commented on #333
Is it reproduced on 14.1.0?

[2018-12-03 08:48] #325 closed

[2018-12-04 17:29] mpdude opened #334 "Shell sessions get closed when Mac goes to sleep"
This is something that I did not notice before when using Vagrant with Virtualbox, and that has surprised me a few times already since I switched to Parallels:

When I have an SSH session open into the VM and close my MacBook, the session will terminate (or be terminated) once I wake OS X from sleep.

Any idea where this might come from? Is this a special setting in Parallels?

[2018-12-04 18:58] dskr99 commented on #334
It seems to be because Parallels disconnects virtual network cable for guest during sleep. It is possible to disable this behaviour be specifying flag "devices.net.sleep_disconnects_link=0" in the VMConfiguration -> Hardware -> Boot Order -> Advanced

(there shoud be a way to do this via prlctl, let me know if you want me to find out the command for this)

[2018-12-04 22:41] mpdude commented on #334
@dskr I've read `man prlctl` and also looked through `prlctl list --info --full --json` output. To me it seems this setting is not covered by `prlctl`?

[2018-12-04 22:42] mpdude commented on #334
@dskr99 I've read man prlctl and also looked through prlctl list --info --full --json output. To me it seems this setting is not covered by prlctl?

[2018-12-05 08:55] romankulikov commented on #333
@mpdude, yes. But I've checked things out and its turns that 14.1.0 still contains the issue. We're investigating it.

[2018-12-05 17:56] dskr99 commented on #334
Hi,
It is possible to configure VM for system flags with command
prlctl list "ubuntu 18.04" --system-flags "devices.net.sleep_disconnects_link=0"
(multiple flags can be specified separating them with semicolon)

What about prlctl list --info: it looks like prlctl cannot show flags of VM :-(

[2018-12-05 18:06] mpdude commented on #334
Is this something this plugin here should be able to configure/set?

[2018-12-06 09:35] stephenreay commented on #330
@romankulikov I keep being asked by the Parallels support team to submit technical reports about the underlying issue (which you said was known, and a fix is waiting to be released for) - is there something I can tell them, so they stop asking me to show them details of a bug that is apparently already fixed internally?

[2018-12-06 16:06] romankulikov commented on #330
@stephenreay , sorry for inconvenience! Our support missed the link on the resolved issue.

[2018-12-06 18:33] legal90 commented on #334
@mpdude Yes, that could be set by adding the following section to `Vagrantfile`:
[code]

[2018-12-06 21:08] mpdude commented on #334
Thanks!

[2018-12-14 08:41] timurkar commented on #330
Great that i found this conversation. See the same problem, fixed by parallels tools v13 install

[2018-12-19 03:50] ashgibson commented on #330
The v13 tools install also fixed the issue for me. The problem only started happening after upgrading to Parallels v14 and latest version of vagrant-parallels.

[2018-12-21 19:08] piratadelfuturo opened #335 "Broken shared file reading"
I am using Laravel Homestead and since I updated to Parallels 14 there has been a frustrating strange behavior in php, the files seems to be corrupted but only while read by php, bash shows the code is correct and the files both in host and guest seem fine, I am getting this error reporting unwanted characters in different files only in the guest:

Warning: Unexpected character in input:  ' in /ho

[2018-12-23 18:53] romankulikov commented on #335
Pretty the same addressed in #330.

[2018-12-27 09:59] damirm commented on #289
Have the same problem.

[2019-01-10 07:51] mpdude commented on #334
Reopening as this seems not to resolve the issue.

How can I verify that is actually the cause of the problem?

[2019-01-16 14:00] fenbox commented on #330
How to install v13 tool? I have upgrading to Parallels v14.

[2019-01-16 14:09] stephenreay commented on #330
@fenbox see https://github.com/Parallels/vagrant-parallels/issues/330#issuecomment-442234022 for instructions and https://github.com/Parallels/vagrant-parallels/issues/330#issuecomment-442864906 for a direct link to download the v13 tools.

[2019-01-17 00:45] huebs commented on #330
@stephenreay it seems the installation process has changed. I downloaded the `Parallels Desktop 13` disk image and there's no longer a file located at `/Volumes/Parallels Desktop 13/Parallels Desktop.app/Contents/Resources/Tools/prl-tools-lin.iso`. Instead, `Parallels Desktop.app` has been replaced with an `Install.app` that downloads the application. I decided to just go ahead and downgrade whole

[2019-01-18 04:08] piratadelfuturo commented on #330
Why parallels is doing nothing about this, someone has the direct link for parallel tools 13?

[2019-01-18 09:09] romankulikov commented on #330
@huebs, @piratadelfuturo,

please take a look carefully, better in terminal: `/Volumes/Parallels Desktop 13/Parallels Desktop.app/Contents/Resources/Tools/prl-tools-lin.iso` is still there. Nothing is changed.

[2019-01-18 09:21] stephenreay commented on #330
Don't forget that if you're using terminal to copy, you need to quote the path, or escape the slashes, e.g.:

`cp /Volumes/Parallels\ Desktop\ 13/Parallels\ Desktop.app/Contents/Resources/Tools/prl-tools-lin.iso ~/` or `cp "/Volumes/Parallels Desktop 13/Parallels Desktop.app/Contents/Resources/Tools/prl-tools-lin.iso" ~/`

If you're using the Finder, you can just hit Go to Folder (Shift-Cmd-G) and

[2019-01-18 09:53] huebs commented on #330
@stephenreay I see it now. Very, very sneaky.

For anyone else coming to this, the `/Volumes/Parallels Desktop 13/Parallels Desktop.app` directory is hidden using the extended attribute rather than adding a leading period to the filename. A pro-tip for anyone using macOS Sierra or newer: pressing `Command + Shift + .` will temporarily display all hidden files (both dot and attributed) in the Finde

[2019-01-30 11:31] mpdude commented on #334
Similar report at https://forum.parallels.com/threads/network-and-external-drive-disconnects-upon-mac-sleep.338699/.

I'm not sure the recommended flag does even exist, but can't find a list of available system flags either.

Filed an issue with Parallels support a week ago, they're still investigating.

[2019-02-05 14:56] mpdude commented on #334
@dskr99 Could you please confirm that `devices.net.sleep_disconnects_link=0` is correct that way? That setting does not seem to make a difference.

Another setting I've found is `devices.net.track_link_status=0`. Might that help as well? What is the purpose of that?

[2019-02-05 16:50] dskr99 commented on #334
@mpdude Hi,
the flag devices.net.sleep_disconnects_link=0 controls whether sleep of macOS disconnects the virtual cable in guest network card. The setting devices.net.track_link_status=0 controls the case of Bridged Networking. It controls whether cable status of physical network adapter to which the guest's NIC is bound is reflected to the guest.

Please try the combination of flags devices.net.s

[2019-02-06 08:00] mpdude commented on #334
`devices.net.sleep_disconnects_link=0; devices.net.track_link_status=0` does not solve the problem.

Will try `devices.net.sleep_disconnects_link=0; devices.net.dhcp.notify=0` now.

[2019-02-07 08:04] stephenreay commented on #330
I've just today updated Parallels, and now `prltoolsd` reports version `14.1.45476`.

Running the same test I ran earlier now succeeds.

[2019-02-07 09:28] mpdude commented on #334
@dskr99 `devices.net.sleep_disconnects_link=0; devices.net.dhcp.notify=0` also does not solve the issue.

Any other ideas? Any kind of logging I could turn on to figure out what`s going on?

[2019-02-07 18:51] mpdude commented on #334
Just found this in `/Library/Logs/parallels.log` after the problem appeared again:

[code]

So, maybe Parallels disables port forwardings while the host is sleeping? Since I am connecting into the vagrant box through forwarded ports, that would probably be a reason why the sessions gets terminated.

[2019-02-11 15:53] dskr99 commented on #334
@mpdude

Yes. It is really so. When host wakes up, the parallels shared networking daemon checks how log Mac was sleeping and restarts if sleep was made for more then 2 minutes. It is made so in one of the first versions of Parallels Desktop since when host goes to sleep in one network location and wakes up in another the macos tcp-stack not always detected that TCP-connection no longer exists.

W

[2019-02-11 16:54] mpdude commented on #334
Consider the use case that I close my MacBook at home, re-open it at the office and would like an SSH session between OS X and the Vagrant box to remain open...

Would it make sense to provide a system flag for this?

Note to self: Maybe I should connect to port 22 on the VM’s IP address instead of the Vagrant-managed forwarded SSH port. Other protocols (HTTP especially) are stateless and not affe

[2019-02-11 18:36] dskr99 commented on #334
I believe that if you are connecting to VMs from localhost, then better to use directly VM-ip or it's name: we register VM name in /etc/hosts when VM in Shared or HostOnly networking is started.

I'm afraid that this would be hard for us to track whether a connection should be closed or leaved connected. The TCP stack doesn't reset connections for us in this case and this causes that some network

[2019-02-13 08:26] mpdude commented on #334
Will now try to keep the `devices.net.sleep_disconnects_link=0; devices.net.dhcp.notify=0` (just to be sure...) and SSH into VMs directly, i. e. without port forwarding.

Will report back here.

[2019-02-19 12:29] mpdude commented on #334
Not using port forwarding to SSH into VMs seems to resolve the issue 👍.

Closing for now. Thanks to everyone helping out!

[2019-02-19 12:29] #334 closed

[2019-02-21 09:48] wizonesolutions opened #336 "Plugin seems to ignore the nfs_export option for config.vm.synced_folder"
Vagrant allows this if we don't want the `/etc/exports` file edited: https://www.vagrantup.com/docs/synced-folders/nfs.html#nfs-synced-folder-options

However, Vagrant Parallels either doesn't pass this option on or doesn't implement it (I'm not clear who's responsible for this actual edit).

Here's some `info`-level logging that I was using to check if the setting was actually set:

[code]

The r

[2019-03-25 14:51] stephenreay opened #337 "Parallels tools fail to install"
It's possible this is a Parallels/Kernel issue (and not specific to Vagrant) but trying to get Parallels staff to confirm these issues directly is like getting a Chicken to sing a lullaby.

I'm seeing an error when trying to install/upgrade parallels drivers:

[code]

[2019-03-26 11:22] romankulikov commented on #337
Yep. It looks like kernel modules from Parallels Tools fail to compile on the most recent kernel update 4.4.0-143 of Ubuntu 16.04. Rolling back to 4.4.0-142 should workaround the problem.

[2019-03-26 13:50] dec5e commented on #330
Have the same issue. Parallels Desktop v14.1.2 (45479) on MacOS Mojave 10.14.3 (18D109), running Ubuntu 18.04 in Vagrant (box `bento/ubuntu-18.04`).

@romankulikov Is downgrading to Parallels v13 still the only and recommended option?  😞
Does it have Ubuntu 18.04 support?

[2019-03-27 17:47] romankulikov commented on #330
@dec5e, what exact issue do you have? This thread contains log of pretty different issues. Some of them are expected to be fixed in 14.1.3.

[2019-03-29 10:25] dec5e commented on #330
@romankulikov The one described in original description - when running php script I get lots of string in output:
[code]

Here is smallest `Vagrantfile`:
[code]
Then I created empty `test.php` in same folder and run inside Vagrant - empty output.
After I edit once again with  adding new line I get:
[code]
And now every time I add new character in php file on host system, new hidden character is ad

[2019-03-29 11:27] romankulikov commented on #330
@dec5e, please make sure Parallels Tools inside VM are up-to-date also:
[code]

[2019-03-29 12:04] mpdude commented on #330
By the way, should I expect I/O performance improvements when switching to v14 tools?

[2019-03-29 14:09] dec5e commented on #330
@romankulikov Yeah, forgot to mention. They are not up-to-date (version is 14.1.0.45387) but I'm not able to update them. Installation is getting stuck, `/var/log/parallels-tools-install.log` is:
[code]

Nothing happens after this, version is still old one.

Any suggestions how to finish this process?

[2019-03-29 15:34] romankulikov commented on #330
@dec5e, something like this:
1. on the host side attach Guest Tools ISO-image: `$ prlctl installtools $your_vm_name`;
2. on the guest side mount the image and start installation: `# mount /dev/sr0 /mnt && /mnt/install -i`;
3. reboot VM.

[2019-03-29 15:39] romankulikov commented on #330
@mpdude, well, it highly depends. One of the main features of version 14 in Guest Tools is a fully supported mmap. So if your software has strict dependency on this functionality Guest Tools version 14 is your only option. Speaking about general IO performance of VM (not only through Shared Folders) Guest Tools for Linux don't influence on this.

[2019-04-02 01:22] zhengweidi commented on #334
@mpdude Sorry to bother you, I also encountered this problem, can you tell me how your Vagrantfile is configured to solve this problem?

[2019-04-05 06:57] mpdude commented on #334
@zhengweidi I think you don't need anything special at all, just use port 22 and the IP of the virtual machine to connect.

I also have this, but think that it's not needed after all:
[code]

[2019-04-05 11:25] dec5e commented on #330
@romankulikov your instructions about updating Parallels Tools worked for me! 👍

To mention: in second step I had image already mounted:
[code]
so I just run installation with
[code]

And after updating tools – problem disappeared. Thanks!

[2019-04-12 01:50] zhengweidi opened #338 "High CPU usage without any running processes in the virtual machine"
![image](https://user-images.githubusercontent.com/31889177/56006505-9bb51180-5d07-11e9-9b68-73d9c143ef4d.png)

I ran the top command in the virtual machine and found no process with such a high CPU usage. I have encountered this problem many times. How can I get more debugging information?

[2019-04-12 09:00] romankulikov commented on #338
Please, send technical report and post its id here. For this when the issue occurs run
[code]

[2019-04-22 18:53] kevinburkengrok opened #339 ""missing interpolation" error on network collision"
I got this error:

[code]

The issue seems to be how `NetworkCollision` is thrown. Compare virtualbox/action/network.rb to this project's network.rb.

[code]

and here:

[code]

[2019-04-23 07:35] #339 closed

[2019-04-23 07:59] legal90 commented on #339
@kevinburkengrok Thank you for creating this issue!
I fixed that in [`v2.0.1`](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.0.1). Please, upgrade the plugin and try again.

After that you should get the error message with details which hopefully will help you to solve the collision on your side. E.q. there is a collision between one of `private_network` specified in your Vagrantf

[2019-04-29 09:48] zhengweidi commented on #338
The embarrassing thing is that I have never encountered this problem since I created this issue. But i will keep an eye on this.

[2019-05-20 09:16] idreesandroid commented on #117
i have the same issue

E:\vagrant>vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Checking if box 'chrislentz/trusty64-lamp' version '3.0.0' is up to date...
==> default: Machine already provisioned. Run `vagrant provision` or use the `--provision`
==> default: flag to force provisioning. Provisioners marked to run always will still run.

[2019-05-24 20:51] HamidZandi commented on #117
same here

MACs-MacBook-Pro:Homestead adnan$ vagrant up
Bringing machine 'homestead-7' up with 'virtualbox' provider...
==> homestead-7: Checking if box 'laravel/homestead' version '7.2.1' is up to date...
==> homestead-7: Machine already provisioned. Run `vagrant provision` or use the `--provision`
==> homestead-7: flag to force provisioning. Provisioners marked to run always will still run.

[2019-05-25 05:58] peekinternational commented on #117
you have to reinstall the window or reset the window then install the vagrant again from first step

[2019-05-25 06:35] legal90 commented on #117
@idreesandroid @HamidZandi Please note that this is a repository of `vagrant-parallels` - the provider of Parallels Desktop for Mac.

If you are experiencing issues with the built-in `virtualbox` provider, please refer to issues in the Vagrant repo: https://github.com/hashicorp/vagrant/issues

[2019-06-22 08:49] stephenreay commented on #337
This is still an issue, 3 months later. Can you put any internal pressure on this issue @romankulikov ?

[2019-07-02 08:41] romankulikov commented on #337
Release dates are out of my scope unfortunately. But I may try to prepare instructions of how to patch kernel modules source code locally to workaround the problem, if you wish.

[2019-07-02 08:57] stephenreay commented on #337
So far I've just been setting a hold on `linux-image-generic` and `linux-headers-generic` to prevent it upgrading those, which works for my scenario (our base box starts from Ubuntu 16 before the conflict) but it may be helpful for others who need to use a more recent Ubuntu release I guess?

[2019-09-10 16:12] Ezsra-McDonald opened #342 "Vagrant unable to ssh to guest"
I am new to Parallels. I have been using Vagrant with VirtualBox. This week I purchased a copy of Parallels Desktop 15 for Business.

First thing I did was install the plugin
$ vagrant plugin install vagrant-parallels

Next I tried creating a centos7 guest.
$ mkdir centos7p
$ cd centos7p
$ vagrant init "generic/centos7"
$ vagrant up --provider=parallels

The box begins to load and finally I see th

[2019-09-22 11:42] stephenreay commented on #330
I can't believe this, but a variant of this problem has resurfaced in PD15.

I can't reproduce it all the time, and it's no longer showing the file as corrupted, it just doesn't show changes made from the host.

[2019-09-22 11:49] stephenreay commented on #330
@romankulikov do I need to log this with support to get some traction on it again, or can you reopen the existing issue?

[2019-10-02 17:09] romankulikov commented on #342
Port forwarding means (in your case) that guest port 22 is mapped to host port 2200. In other words SSH should work on VM's port 22. The question is why guest's port 22 is not accessible. Do still suffer this issue?

[2019-10-02 17:21] romankulikov commented on #330
@stephenreay, can you please provide more details about the issue? What guest distro do you use? Can you give a simple reproduction test case (like with with PHP interpreter above)?

[2019-10-02 17:26] stephenreay commented on #330
I believe it was a Debian9 (maybe Debian 10, which, yeah, PD Support have told me is unsupported still). As I said it's not reliably reproducible - just sometimes, files changed on the host would not show any change at all on the guest - I had to reboot the guest to get it to show the changes.

It also didn't seem to be specific to how the file was opened - everything in the guest was showing the

[2019-10-14 11:08] xuanzhaopeng opened #343 "[Question] How to share the USB device into Guest OS"
Hey team,

I'm using https://github.com/bacongravy/macinbox to put OS X into vagrant boxer with Parallels Desktop & Vagrant plugin.  But may I ask is it possible to share the specific USB Device from Host OS to Guest OS?

Thanks a lot

###

Just find something on the documents, could you please correct me if the way following is correct?

[code]

However from Parallels doc, I found 2 pieces of cod

[2019-10-21 10:18] romankulikov commented on #343
It is not possible to call prlctl/prlsrvctl directly from plugin but looks like [Vagrant Triggers](https://www.vagrantup.com/docs/triggers/) solve the problem: there're examples how to call shell command, for example, after virtual machine start.

[2019-10-29 15:34] dukebarman opened #344 "Problem with initialization vagrant image (macOS)"
I had early installed vagrant with vbox. But replaced VirtualBox (deleted it) by parallels. After upgrade vagrant and install parallels plugin I couldn't init vagrant image.

[code]

I've tried advice from another issue `vagrant destroy -f` but it doesn't help.

Testing: macOS 10.14.6

[2019-10-29 19:25] dukebarman commented on #344
Same error after reinstall vagrant-parallels and init

[2019-10-30 07:46] legal90 commented on #344
It seems that vagrant fails to initialize plugins, so it doesn't detect that `parallels` provider is installed and then falls back to the default `virtualbox`.

I found some similar issues filed for recent Vagrant versions:
https://github.com/hashicorp/vagrant/issues/11058
https://github.com/hashicorp/vagrant/issues/11156

I can't reproduce this issue on my machine with Vagrant v2.2.6, macOS 10.15

[2019-10-30 13:23] dukebarman commented on #344
Last 3 options don't help :(

[2019-11-15 12:50] dukebarman commented on #344
I reuninstall virtualbox and problem was disappeared.

[2019-11-23 19:27] mtuktarov opened #345 "i can't import a base box"
Hi there I can't import a base box that has been created following this instruction
http://parallels.github.io/vagrant-parallels/docs/boxes/base.html
I tried to reinstall parallels plugin and vagrant.
Basebox available here:
http://kishmish.me/static/centos7.box

[code]

[2019-11-25 08:58] #344 closed

[2019-11-25 09:06] legal90 commented on #345
Hi @mtuktarov.
`metadata.json` in your box doesn't have this field, which is required:
[code]
See the box format documentation
https://www.vagrantup.com/docs/boxes/format.html#box-file

P.s.
You can check the content of your box by unpacking with tar (as it is just a usual gzip tarball):
[code]

[2019-11-25 10:59] mtuktarov commented on #345
Your documentation is misleading then. I have providers field, there I have parallels provider

[2019-11-25 12:41] legal90 commented on #345
Yeah, docs looks a bit confusing. The "Box Metadata" section[here](https://www.vagrantup.com/docs/boxes/format.html#box-metadata) just describes the format for Vagrant private registries.

It should not be confused with `metadata.json` file, which has to be included in each box file. Please change its content to
[code]
and then it should work.

[2019-11-25 22:02] mtuktarov commented on #345
I confirm it helped

[2019-12-31 11:35] #338 closed

[2020-01-28 13:26] fenbox opened #346 "Can't work after upgrade to vagrant 2.2.7"
When I upgrade from 2.2.6 to 2.2.7, it can't boot and show the error message:
[code]

[2020-01-29 07:49] legal90 commented on #346
Hi! That was an issue of Vagrant 2.2.7 bundle:
https://github.com/hashicorp/vagrant/issues/11348#issuecomment-579471809

Vagrant 2.2.7 DMG installer has been recently rebuilt. Please, download and install it again.
https://releases.hashicorp.com/vagrant/2.2.7/vagrant_2.2.7_x86_64.dmg

[2020-01-29 07:49] #346 closed

[2020-01-29 13:41] krisballistiq opened #347 "no suitable image found. Did find: (LoadError)"
I have seen https://github.com/Parallels/vagrant-parallels/issues/346 which appears to be a similar issue and have subsequently deleted the .`vagrant.d` dir, uninstalled the old Vagrant, installed the new Vagrant package as directed and installed the `vagrant-parallels` plugin, however the problem persists (see below). Are there any local system issues that could be in play here, like ruby version

[2020-01-29 14:54] krisballistiq commented on #347
I think this was my fault, i had virtualbox in a half installed state and forgot to set the VAGRANT_DEFAULT_PROVIDER var.

[2020-01-29 14:54] #347 closed

[2020-01-29 15:00] #345 closed

[2020-01-30 21:37] carcus88 opened #348 "Cannot do fresh install of Vagrant 2.2.7 and vagrant-parallels on MacOS 10.15.2"
To preface Vagrant 2.2.6 works just fine.

When I install Vagrant 2.2.7 and then run ```vagrant plugin install vagrant-parallels``` I get the following

[code]

The output of gem_make.out is as follows

[code]

[2020-04-01 14:38] Velociround opened #349 "There's no option to change hypervisor on Vagrant or the command line"
Hi there!
I wish to use the Apple hypervisor on my Vagrant VMs.
I can change this manually from the Parallels Desktop interface, but I want to set this up on Vagrant, or else I would need to manually open every VM's settings and never `vagrant destroy` them. How do I do it? There's no mention of this on the [official documentation](http://download.parallels.com/desktop/v14/docs/en_US/Parallels%20D

[2020-04-03 17:17] madeddie opened #350 "Problem with ptiagent --install"
When I bring up an existing VM sometimes (with vagrant up) the command will fail with:
[code]

If I then `vagrant ssh` into the VM and run `sudo ptiagent-cmd --install` it'll fail also and also at progress 10. When I run `sudo ptiagent-cmd` without the `--install` it will finish without problems.

The docs state `--install` is the default action anyway, is there a way to configure the provider to

[2020-04-05 05:57] legal90 commented on #348
Hi @carcus88,

Does this issue still persist? With latest `nokogiri` 1.10.9 it seems working fine (macOS 10.15.3):
[code]

[2020-04-05 05:58] legal90 commented on #349
Hi @Velociround,
That should be possible to do with `customize`. Try adding this to your Vagrantfile:

[code]

[2020-04-05 06:20] legal90 commented on #336
@wizonesolutions
Sorry for the super-late response :).

The provider doesn't change any settings related to upstream synced folders (like NFS), so it goes directly to Vagrant. If the issue still actual - I would suggest to search Vagrant issues for that (https://github.com/hashicorp/vagrant/).

But first I would make sure that your `Vagrantfile` actually has `nfs_export` option set to false explic

[2020-04-05 06:20] #336 closed

[2020-04-05 06:26] legal90 commented on #350
@romankulikov What do you think about that?

We can run `ptiagent-cmd` instead of `ptiagent-cmd  --instead` if it will really do what it should.
But I also want to remind why did we change it last time: https://github.com/Parallels/vagrant-parallels/pull/286

[2020-04-05 08:45] legal90 commented on #342
@Ezsra-McDonald The default Vagrant provider `virtualbox` uses port forwarding for SSH.
But `parallels` provider uses the connection by the VMs private IP instead. In your case it's `10.211.55.15 `.

Since you are saying that the issue happens on all boxes, I would guess that you could have a network collision between one of the network interfaces on your computer (like VPN, WiFi or Ethernet) and

[2020-04-05 08:48] legal90 commented on #337
@stephenreay Does the issue still persist on Parallels Desktop 15?

[2020-04-05 08:51] legal90 commented on #335
Closing this as duplicate of #330

[2020-04-05 08:51] #335 closed

[2020-04-05 08:56] legal90 commented on #282
Hi all.
I'm gonna close this issue since it's pretty old and wasn't updated for more than 2 years.

If anyone still have it on the latest versions of Parallels Desktop, Vagrant and provider, feel free to open a new issue for that.

[2020-04-05 08:56] #282 closed

[2020-04-05 14:04] Velociround commented on #349
It works! Thank you very much. I'll drop [this link to the Parallels Vagrant configuration documentation](https://parallels.github.io/vagrant-parallels/docs/configuration.html) that mentions the `prl.customize` for other people who find this issue. I think it would be nice if the `hypervisor-type` parameter could be added to the documentation, and others, if there are more missing.

[2020-04-05 14:04] #349 closed

[2020-04-06 15:41] legal90 commented on #290
I confirm that this issue still exists in Parallels Desktop 15.1.3. The root cause is the bug in `prlctl` - it doesn't print non-ASCII symbols in Shared Folder host paths in jsonized output.

### Reproduction details

#### 1. Add shared folders with non-ASCII symbols to Vagrantfile:
[code]

#### 2. Actual result of `vagrant up`:
[code]

#### 3. My findings:
Actually, each shared folder were succes

[2020-04-07 12:39] madeddie commented on #350
Some strange other problem is that the VM does have parallels tools installed, but after the Mac goes to sleep and wakes up and the VM is restarted parallels tools is not recognized to be there. Is there any debugging info you could use?

[2020-04-11 13:22] romankulikov commented on #290
Confirm the problem. Will investigate.

[2020-04-12 06:28] romankulikov commented on #350
@madeddie, could you please give a bit more details how to reproduce the problem? It would be great to know VM distro and version, and the version of Parallels Tools to the moment of `ptiagent-cmd --install` command launch.

[2020-04-13 21:27] madeddie commented on #350
Ah sure, yeah.
OS: MacOS 10.15.4 (19E287)
Parallels: Parallels Desktop 15 for Mac, Business Edition, 15.1.2 (47123)
Vagrant: 2.2.7
VM OS: Ubuntu 18.04.4 LTS

`ptiagent-cmd --ver` doesn't  output anything, but:
[code]

[2020-04-13 21:29] madeddie commented on #350
The way I can usually reproduce is by having my Mac going to a long sleep causing the VM to not be nicely woken from suspend, a `vagrant up` then tries un-suspending and ends up simply starting the VM. Fairly regularly I can also reproduce the issue by `vagrant halt` and `vagrant up` in the same session, but this is more flaky in its results.

[2020-04-15 18:44] romankulikov commented on #350
Parallels Tools should update when guest and host versions are the same. It would be great to know from what version Tools were updating and failed.

[2020-04-17 19:10] dragon788 opened #355 "Please enable `prl.gui = true` for parity with Virtualbox and VMware providers"
I see that in #39 that Headless mode became the default which is fine, but it would be great if I could use the syntax that shows up in the default example if I do `vagrant init somebox` and just swap `virtualbox` and `|vb|` for `parallels` and `|prl|` in the `vb.memory = 1024` and `vb.gui = false` examples. I realize that Parallels has a few more options, but if `prl.gui = true` defaulted to `win

[2020-04-17 20:37] dragon788 commented on #355
On a related note, while trying to do this the prl.customize way I ran into the case where changing the startup-view mode in one Vagrantfile and destroying and starting up the VM actually caused  a window to spawn for another Parallels Vagrant VM that lived in a different directories and didn't have the startup-view set it its Vagrantfile........

In attempting to reproduce the issue what I found

[2020-04-21 07:55] XXpE3 commented on #348
I use macOS 10.15.4 vagrant 2.2.7, also cannot install `vagrant-parallels`.

[code]

`nokogiri-1.10.9/gem_make.out`

[code]

[2020-04-21 08:21] legal90 commented on #348
@XXpE3 That error looks different from the first one. It seems that nokogiri extensions require Xcode Development Tools to be installed.

Could you please run `xcode-select --install` and then try to install the plugin again?

[2020-04-21 08:34] XXpE3 commented on #348
Hi, I have installed Command line tools `11.4.1`

[code]

[2020-04-21 09:05] legal90 commented on #348
@XXpE3 Sorry, I'm not sure that I can provide the good solution among the googling around :(

Based on replies in https://stackoverflow.com/questions/22413689/vagrant-cannot-install-nokogiri-dependent-plugins, I would recommend trying these options:
1) Delete `~/.vagrant/gem` directory and try to install the plugin again (beware that other plugins, if you have any, will be deleted too)

2) Install

[2020-04-21 10:06] XXpE3 commented on #348
Hi, I tried the steps, but I still get an error.

`nokogiri-1.10.9/mkmf.log`

[code]

Thank you very much for your help :)

[2020-04-25 08:22] romankulikov commented on #348
Can you please verfiy  that macOS SDK installation is valid? `stdio.h` should be there:
[code]

[2020-04-26 01:44] XXpE3 commented on #348
Hi, I gave it a try.

[code]

[2020-04-26 08:38] legal90 commented on #326
I'm gonna close this issue since it's pretty old and wasn't updated for more than a year.

If anyone still have it on the latest versions of Parallels Desktop, Vagrant and the provider, feel free to open a new issue for that.

[2020-04-26 08:38] #326 closed

[2020-04-26 11:09] legal90 commented on #355
Hi @dragon788,

Sorry, but this use case for adding/replacing the provider was never considered as something we should support. `provider` block is actually provider-specific. Some options could look the same, but in the full spec there will be always some options which look and behave differently.

Especially for the `.gui` property. As you have noticed, Parallels Desktop has a variety of startup

[2020-04-26 11:09] #355 closed

[2020-04-26 11:25] romankulikov commented on #348
It would be great to see the output of verbose compiler execution:
[code]

[2020-04-26 11:28] romankulikov commented on #348
Oops, forgot to mention that test file `conftest.c`
[code]
should be placed into current directory.

[2020-04-28 02:56] XXpE3 commented on #348
I gave it a try.

[code]

Thank you very much for your help :)

[2020-04-28 03:47] XXpE3 commented on #348
[code]

[2020-05-01 21:47] silviopinheiro commented on #346
I have the same issue on windows version.

[2020-05-02 12:37] romankulikov commented on #348
Well, these logs show something that I don't understand. I'm not Xcode guru so cannot provide fast and correct solution. Probably it is worth to search for an answer in some more specialised place.

What I cat suggest is to try to re-select toolchain:
[code]
and then retry compiler invocation.

[2020-05-02 15:40] XXpE3 commented on #348
My guess is that there may be a problem with my system and I will continue to try other approaches.
Anyway, thank you very much for your help :)

[2020-05-02 16:14] XXpE3 commented on #348
Hi, I find that my Clang is not getting the correct SDK path.

[code]

So I tried to modify it.

`export SDKROOT="$(xcrun --sdk macosx --show-sdk-path)"`

Then it's ready to install properly.

[code]

Thank you so much for your help and patience.
I hope this helps others as well.

[2020-05-05 23:08] RomaJZ commented on #348
@XXpE3 Hi! I've tried your solution, but it didn't work for me. I've also done every step before, but the output is still the same:
`romajz@MacBook-Pro-Roma ~ % vagrant plugin install vagrant-parallels
Installing the 'vagrant-parallels' plugin. This can take a few minutes...
Building native extensions. This could take a while...
Vagrant failed to properly resolve required dependencies. These
error

[2020-05-05 23:15] RomaJZ commented on #348
@XXpE3 Hi! I've tried your solution, but it didn't work for me. I've also done every step before, but the output is still the same:
[code]

Could you help me, please?

[2020-05-05 23:44] rloomans commented on #348
I have the same problem where compile can't find stdio.h.

I found that the ruby packaged with vagrant has hard coded paths to the SDK in /opt/vagrant/embedded/lib/ruby/2.6.0/x86_64-darwin19/rbconfig.rb

[code]

Looks like it's a vagrant packaging problem.

My workaround was to download the the 10.9 SDK and drop it into /Users/vagrant/SDKs/MacOSX10.9.sdk

[2020-05-05 23:47] RomaJZ commented on #348
@rloomans But as I checked there is no such directory /Users/vagrant/
So I don't think that's the proper way to do it

[2020-05-05 23:50] rloomans commented on #348
It's definitely not the right way to do it: the vagrant package needs to be fixed.

However it does get the provider working and gets me out of a hole :).

[2020-05-05 23:53] RomaJZ commented on #348
@rloomans So you just created that folder and everything worked fine?

[2020-05-06 00:11] rloomans commented on #348
No... I downloaded the 10.9 SDK from [https://github.com/phracker/MacOSX-SDKs](https://github.com/phracker/MacOSX-SDKs) and placed it in that folder.

[2020-05-06 00:16] RomaJZ commented on #348
@rloomans Yes, I mean that. Thank you!

[2020-05-06 04:35] adambreen commented on #348
@RomaJZ: I think that @rloomans must have manually created the /Users/vagrant (and /Users/vagrant/SDKs) folder. I did this, chown-ed them to my current user, and was able to get the damn thing to build. This is CLEARLY not a good implementation.

@legal90 please note that I got exactly the same results as @rloomans. The issue is that there is a hardcoded path to /Users/vagrant/SDKs, perhaps a lega

[2020-05-06 10:44] XXpE3 commented on #348
Sorry, I just saw your comment. Looks like you have the same problem I do. You just need to set the SDKROOT path manually.

[code]

[2020-05-06 11:13] legal90 commented on #348
@adambreen Correct, that's the issue of embedded Vagrant ruby, which is managed within this project: https://github.com/hashicorp/vagrant-installers
We can't  do anything with that here, in vagrant-parallels.

Please refer to this issue and put your findings there:
https://github.com/hashicorp/vagrant-installers/issues/163

[2020-05-06 12:14] adambreen commented on #348
Ok will do thanks!

On Wed, 6 May 2020 at 7:13 pm, Mikhail Zholobov <notifications@github.com>
wrote:

[2020-05-08 05:46] legal90 commented on #348
The issue has been fixed in Vagrant 2.2.9:
https://github.com/hashicorp/vagrant-installers/issues/163#issuecomment-625503064

[2020-05-08 05:46] #348 closed

[2020-05-12 15:04] ondrasek opened #356 "vagrant-parallels installation fails with vagrant 2.2.8"
Vagrant plugin installation fails (see attached log files). I do have the MacOS SDK and XCode / XCode build tools installed.

[vagrant-parallels-install.log](https://github.com/Parallels/vagrant-parallels/files/4616415/vagrant-parallels-install.log)
[mkmf.log](https://github.com/Parallels/vagrant-parallels/files/4616419/mkmf.log)

[2020-05-12 15:07] ondrasek commented on #356
I noticed that the generated CC command line contains the following argument: "-isysroot /Users/vagrant/SDKs/MacOSX10.9.sdk". This obviously does not exist and should point to /Library/...

[2020-05-12 15:23] legal90 commented on #356
Hi @ondrasek
That is the issue of embedded ruby in Vagrant 2.2.8. It was fixed in Vagrant 2.2.9:
hashicorp/vagrant-installers#163 (comment)

Please, upgrade to Vagrant 2.2.9 and try installing the plugin again.

[2020-05-12 20:49] ondrasek commented on #356
Thank you!

[2020-05-12 20:49] #356 closed

[2020-05-15 06:41] feliperubin opened #357 "Non-deterministic failure with Multi-Machine provisioning"
Vagrant Version: 2.2.9
Parallels Desktop Version 15.1.4 (47270)
prlctl version 15.1.4 (47270)
Host: MacBook Pro 16" 2019 i9 (octa-core), 32GB RAM
Host OS: MacOS Catalina 10.15.4
Guest OS : Ubuntu 18.04 LTS

Example Vagrantfile below.
[code]

The following error occurs while provisioning a Multi-VM environment.
[code]

I might be wrong, but it seems to be a concurrency problem; when creating a link

[2020-05-20 15:52] madeddie commented on #350
Like I mentioned above, `15.1.2.47123`, it doesn't try to update, vagrant complains about parallels tools not being installed:

[code]

[2020-05-20 15:55] madeddie commented on #350
but when I `vagrant ssh` in right away:

[code]

so parallels tools is there and it was installed and running before halting the VM, but after the vagrant up it fails for some reason but also `sudo ptiagent-cmd --install` fails on `progress 10` all the time.
(@romankulikov)

[2020-06-11 19:20] carcus88 commented on #348
Just an update to my previous comment where this is still broken it seems in in 2.2.9.
I tried the 2.2.10 dev release and found the issue still exists there as well even though it seems to be marked as resolved. After more digging I found some reference to 2.2.6 in

https://github.com/hashicorp/vagrant/issues/11619

I was able to successfully install and use vagrant-paralllels using the following

[2020-06-23 20:06] mikebronner opened #358 "Solution to Error when installing on macOS 11 Beta 1"
Hi, I wanted to share the solution to the following error on macOS 11 Beta 1 when running `vagrant plugin install vagrant-parallels`:

[code]

**The solution is to manually download The Xcode Command Line Tools Beta from the Apple Developer site.**

[2020-06-25 21:39] carcus88 commented on #358
This looks like a similar issue to an ongoing issue I'm having with 10.15.5 that should have been resolved but does not appear to be.

https://github.com/Parallels/vagrant-parallels/issues/348#issuecomment-642155079

My solution was to downgrade vagrant to 2.2.6-dev from https://github.com/hashicorp/vagrant-installers/releases/tag/v2.2.6%2Bbuild-updates. Curious if that works for you as well @mike

[2020-06-25 21:50] mikebronner commented on #358
@carcus88 The error was solved by installing Xcode Command Line Tools for me. :)

[2020-06-25 21:50] #358 closed

[2020-06-26 11:05] max-arnold commented on #206
I also often get hit by this:

[code]

[code]

Parallels  15.1.4 (47270)

[2020-07-24 09:49] matthew-gill opened #360 "How to set/enlarge disk"
By default the disk size is 32gb.
How do I tell the vagrantfile to use a larger storage space?

[2020-07-31 18:35] haqthat commented on #337
Yes.

[2020-08-08 18:31] cecilphillip commented on #206
I'm get this error too. Using the same versions as @max-arnold
cc @legal90

[2020-08-18 11:58] klebercabral commented on #357
try before "vagrant up":

`export VAGRANT_NO_PARALLEL=true`

[2020-08-18 12:01] Felipe-Rubin commented on #357
Sure,this works. The problem is not provisioning Parallels VMs one by one, but provisioning Parallels VMs in parallel.

[2020-08-22 00:37] ph55 opened #361 "Can't copy files form shared folder"
When trying to copy any file from shared folder (`/vagrant`) on host machine:

[code]

It fails with message:

[code]

I guess the reason is that shared folders constantly syncing files to host machine.

[2020-08-24 11:15] mpdude commented on #290
Similar issue that might be related:

When I use `config.vm.synced_folder "/some/host/path", "/some/guest/path"` in the `Vagrantfile` and then create a directory containing German umlauts (probably cyrillic chars would do as well) in `/some/host/path`, this directory does *not* show up in the guest VM.

[2020-08-24 11:17] mpdude commented on #290
... so it's not an issue with `prlctl` itself or with the guest tools, but a more low-level issue on the guest side?

[2020-08-24 11:44] mpdude commented on #290
A co-worker is running Parallels Version 14.1.2 (45479) and Parallels Tools 14.1.45479. He's also on an older version of OS X and might not be using APFS as I am.

For him, it seems to work:

[code]

Could you please advise if
- this should be an issue on its own?
- which details you need to confirm
- this might be a regression in Parallels Tools and it would be worth trying a downgrade?

[2020-08-24 11:50] legal90 commented on #290
@mpdude It works for him because the host path does not have non-ASCII characters (`<something>/src/styleguide/Seiten`).

No, that look exactly the same as was I described with details above. That is a bug of `prlctl`, which prevents Shared Folder from working if there full path to it on the host side contains non-ASCII characters.

[2020-08-24 13:12] mpdude commented on #290
We might be describing different issues then.

Both my coworker and me are using `config.vm.synced_folder "~/Projects", "/var/www"` in our `Vagrantfile`s.

If a subdirectory of `~/Projects` on the host contains directories with non-ascii chars (like the `src/styleguide/Seiten/` example given above, which contains sub-directories `Über uns` or `Förderung`), those directories are not visible inside

[2020-08-24 17:23] apenney-beeswax commented on #350
I just ran into the same problem and stumbled over this issue.  This is with parallels 16, the exact same thing, I tried to start up an existing instance and it failed with `progress 10`.

[2020-09-01 01:21] ikari7789 commented on #361
I can't copy anything from any shared folder onto anywhere on the guest machine.

[code]

[2020-09-04 10:18] mpdude commented on #290
It seems the update to Parallels 16.0.0 and to Parallels Tools 16.0.48916 solves at least "my" issue.

[2020-09-07 10:53] mpdude commented on #361
Same here 👋🏻. Seems to be a (breaking) change from Parallels 15 -> Parallels 16; #362 might be a fix.

[2020-09-18 05:38] stephenreay commented on #361
Ugh I've just hit this same issue. @romankulikov are you able to look at the referenced PR for this?

[2020-09-18 19:05] legal90 commented on #361
Hi all,

It's confirmed that this issue exists on all Vagrant VMs with Linux which have Parallels Tools v16 or higher installed. You can find more details in this comment: https://github.com/Parallels/vagrant-parallels/pull/362#issuecomment-695032658

As a workaround, please, ensure that you have Parallels Desktop v16 installed on your and Mac host (`prlctl --version`) and Parallels Tools v16 in y

[2020-10-11 11:35] jamesla opened #364 "vagrant package --vagrantfile not working"
If I run the command `vagrant package --vagrantfile Vagrantfile --output mybox.box` with the following vagrantfile:

[code]

The box is created however when I import and run the newly created box the vagrantfile isn't obeyed and it never echo's HELLO WORLD.

However when I do this using the virtualbox provider it works ok.

I am not sure but when I extracted mybox.box I found my vagrantfile inside

[2020-10-13 18:18] glennWang opened #365 "Could vagrant-parallels support nic multi driver_queues like libvirt__driver_queues?"
You can see the` :libvirt__driver_queues` on the following link.
https://github.com/vagrant-libvirt/vagrant-libvirt

I set `:parallels__driver_queues => 4` as the following, however, it does not work !
[code]

[2020-10-13 18:43] legal90 commented on #365
Hi @glennWang,
The feature you are referring to is specific to KVM and Linux.
I believe, it's not supported in Parallels Desktop for Mac. @dskr99, could you please confirm that?

[2020-10-25 04:05] jamesla commented on #364
I have fixed this and opened the following PR here

https://github.com/Parallels/vagrant-parallels/pull/368

[2020-10-27 19:28] legal90 commented on #364
Fixed by #368 . Thanks, @jamesla !

[2020-10-27 19:28] #364 closed

[2020-10-27 19:29] #365 closed

[2020-11-09 05:14] dnx-seek commented on #357
I also have an issue with multi machine provisioning.

Here is a snippet of my output.

[code]
...

[code]

It looks like the box image is being unlinked before the other VM gets to use it.

If I use `export VAGRANT_NO_PARALLEL=true` then it provisions fine.

[2020-11-19 09:07] xpicio opened #369 "network problems using bigsur"
Hello, few days ago i update macOS to Big Sur and now when i try to use `vagrant up` (on previously working project) the network initialization fail. There isn't useful info on vagrant startup log. I have only the following error:

<img width="686" alt="Schermata 2020-11-19 alle 08 57 11" src="https://user-images.githubusercontent.com/2994719/99640395-1ba96e80-2a49-11eb-982e-43c6859933ef.png">

He

[2020-11-19 10:47] legal90 commented on #369
@xpicio Thank you for the report!  Could you please elaborate the following:
1) Does `vagrant up` output contain any error or uncommon message?
2) Did you find which exact VM actually reports the error which you see in Parallels Desktop GUI?
3) Please, show the output of this command: `prlsrvctl net list`

[2020-11-19 10:55] dskr99 commented on #369
@xpicio please go to the menu of Parallels Desktop -> Help -> Send technical data and send a problem report; post here its number

[2020-11-19 12:32] guictx commented on #369
I can confirm this issue with Big Sur.

A workaround that works for me (using Laravel Homestead provisioned VM) is to halt the machine, restore default network settings on both the VM config and Parallels preferences and then start it again.

[2020-11-19 13:11] xpicio commented on #369
1. Here the `vagrant up` log
[code]

2. I think the error is reported from the windows virtual machine.

3. Command `prlsrvctl net list`
[code]

I did more tries and a few of `vagrant destroy` and again `vagrant up` and now the network list is as following:
[code]

It's seems the vagrant-vnet* network adapter are never removed.

4. Report id: 354944195

Hope this help :)

[2020-11-20 11:11] rtshome commented on #369
Same problem for me. "Vagrant up" seems to ignore the ip setting in private network and keeps creating new and new vagrant-vnet host only networks.
Vagrant version 2.2.13.

[2020-11-20 11:34] rtshome commented on #369
I solved temporarily setting the name of the private network to the same that I see in network preferences of Parallels:

config.vm.network :private_network, ip: "X.X.X.X", name: "Host-Only"

[2020-11-20 12:02] legal90 commented on #369
Hi all,
Thank you for the provided details! I do confirm that there is currently an issue with reading and deleting host-only network interfaces on macOS 11.0 Big Sur.

That's caused by the command `prlsrvctl net info` stopped printing the line `Bound To:` to the output on macOS 11. That causes these expression to ignore host-only network interfaces:
- https://github.com/Parallels/vagrant-parallel

[2020-11-20 14:01] dskr99 commented on #369
@xpicio > Report id: 354944195

Just looked at the report;
the reason of the error is conflicting values for the HostIPAddress in parallels configuration:
/Library/Preferences/Parallels/network.desktop.xml (several places, almost in every in Host-only network):

            <HostIPAddress>192.168.50.1</HostIPAddress>
            <DhcpIPAddress>10.37.134.1</DhcpIPAddress>

I'm not sure how this cou

[2020-11-20 19:25] legal90 commented on #360
Hi @matthew-gill
Sorry for the late response. You asked a good question - apparently there is no a reliable way to change the disk size at this moment.

In fact, that could be done using this customization rule:
[code]
But that will fail if in the past there was at least one linked clone created from this base box:
[code]

_Details_
This error message is saying about the one special snapshot of th

[2020-11-20 21:27] matthew-gill commented on #360
@legal90  thanks for looking into this! For now we have a workaround where we manually Mount and partition a new disk, but it's not ideal!

[2020-11-20 21:56] legal90 commented on #369
@dskr99

That is actually the expected behavior of our vagrant provider here.  When the used specifies
[code]
it means that Vagrant will configure this static IP on the guest side.
So, in this case when our provider creates the host-only interface, it only sets up the appropriate host adapter IP and the net mask (it is `/24` by default, unless it's set explicitly). Here are the commands which are

[2020-11-20 22:00] legal90 commented on #369
Meanwhile, here is the fix for the root cause of the issue on the provider's side: https://github.com/Parallels/vagrant-parallels/pull/371.
I testes it with `Vagrantfile` posted by @xpicio in the top message and it seems working good.

I'll give it a couple more test runs and then release it early next week.

[2020-11-22 08:41] #369 closed

[2020-11-22 08:41] #357 closed

[2020-11-22 23:15] dnx-seek opened #372 "New release?"
Hi,

I can see the latest release was April 2019. Is there a plan to roll out a new one? Plenty of updates have gone into master since then, including the recent multi machine fix which I'm hoping to be able to use.

Thanks.

[2020-11-23 07:55] legal90 commented on #372
Hi @dnx-seek,

Yes, I'm planning to release a new version today or tomorrow.

[2020-11-25 14:38] legal90 commented on #357
The fix has been released in [vagrant-parallels `v2.1.0`](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.1.0)

@feliperubin @dnx-seek Could you please verify it on your setup?

[2020-11-25 14:38] legal90 commented on #369
This fix has been released in [vagrant-parallels `v2.1.0`](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.1.0)

@xpicio Could you please verify it on your setup?

[2020-11-25 14:46] legal90 commented on #372
v2.1.0 is released now: https://github.com/Parallels/vagrant-parallels/releases/tag/v2.1.0

[2020-11-25 14:46] #372 closed

[2020-11-25 14:49] legal90 commented on #342
I'm going to close this issue now. Feel free to create a new on if you still have this problem.

[2020-11-25 14:49] #342 closed

[2020-11-25 15:11] xpicio commented on #369
@legal90 it's work 🎉 🎉 👍 thank you

I did some tries and both machines received the right ip from `Vagrantfile`:
🟢 up (on previous broken virtual machines)
🟢 destroy (the useless vagrant-vnet* has been destroyed too) and then up
🟢 halt and then up

[2020-11-25 15:12] legal90 commented on #369
Perfect, thank you too! 👍

[2020-11-25 16:11] max-arnold commented on #206
@tradel @cecilphillip I just upgraded to [2.1.0](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.1.0) and it looks like the issue was fixed in https://github.com/Parallels/vagrant-parallels/pull/370

[2020-11-25 23:54] dnx-seek commented on #357
@legal90 I've just taken it for a spin. Works! Thanks.

[2020-11-28 08:45] legal90 commented on #361
Hi all,
It seems that the issue was fixed in Parallels _[Guest]_ Tools v16.1.49141  (available in Parallels Desktop v16.1.1)
[code]

Starting since this version, inodes are persistent as it was before v16 release, so there is no need to use `host_inodes` mount option anymore.
But since Parallels Tools are bundled with the base box, it will take some time for box maintainers (like [bento](https://a

[2020-11-28 08:45] #361 closed

[2020-12-01 02:50] feliperubin commented on #357
Seems to be working now, thanks.

[2020-12-09 03:57] NanonaN opened #373 "Unable to clean up the virtual machine"
I'm using vagrant-parallels to install a vagrant virtual machine(Ubuntu 18.04) in my parallels desktop. After some time of using, the disk space of virtual machine become larger and larger, I tried to use `apt autoclean` and `apt autoremove` to clean up the virtual machine, but I found that the freed disk space cannot be detected by parallels desktop. I cannot clean up the ubuntu virtual machine a

[2020-12-09 08:41] worftan opened #374 "mount: mounting /dev/loop0 on /media/prl-tools-lin_25557/ failed: Invalid argument"
The following SSH command responded with a non-zero exit status.
Vagrant assumes that this means the command failed!

mount -o loop /tmp/prl-tools-lin.iso /media/prl-tools-lin_25557/

Stdout from the command:

Stderr from the command:

[2020-12-09 12:51] ahoiroman opened #375 "Can not install vagrant-parallels"
Unfortunately I can not install the parallels-plugin for vagrant on macOS Big Sur. xCode is installed.

[code]
[code]

[2020-12-11 10:53] romankulikov opened #376 "Shared Folders not mounted after manual reboot"
In acceptance tests there's a case to check for synced folders persist after "manual" reboot, i.e. reboot initiated from the guest itself:
[code]
But due to the current vagrant-parallels plugin implementation this test fails because all synced folders are mounted only from host (plugin) side which knows nothing about guest-initiated reboot.

Frankly I don't how to fix this properly: either a) we n

[2020-12-11 12:11] romankulikov commented on #290
Terribly sorry for no updates from my side. The issue as described in [initially](https://github.com/Parallels/vagrant-parallels/issues/290#issuecomment-609872292 ) is fixed in Parallels Desktop 16. It is on the host side.

[2020-12-11 12:29] legal90 commented on #376
Yeah, I confirm that problem. That part of acceptance test haas been added to `vagrant-spec` recently:
https://github.com/hashicorp/vagrant-spec/pull/34

They did it in the scope of the feature https://github.com/hashicorp/vagrant/pull/11570, which originally was implemented only for `virtualbox` provider. Until that there was no such feature in Vagrant at all.
We haven't implemented the compatibi

[2020-12-11 12:32] legal90 commented on #376
Long story short, Vagrant does that by adding an entry to guest's `/etc/fstab`, so we will just need to implement a certain capability for that: https://github.com/hashicorp/vagrant/blob/main/plugins/guests/linux/cap/persist_mount_shared_folder.rb

[2020-12-11 15:32] romankulikov commented on #337
I should say that on Ubuntu 16.04 with the recent kernel 4.15.0-123 Parallels Tools 15.1.5 install successfully.

[2020-12-13 20:27] legal90 commented on #290
Yes, I confirm it's fixed in Parallels Desktop 16 👍
Though, there could still be an error caused by the the encoding issue:
[code]

I don't know the exact source of it, but it's fixed in #377

[2020-12-13 20:46] legal90 commented on #376
Implemented in #377
After that the acceptance test passes fine.

P.s. In some cases the acceptance test might still fail in the same place you've linked.
The reason is that "vagrant ssh" command is executed too fast. I sent a fix to `vagrant-spec` for that:
https://github.com/hashicorp/vagrant-spec/pull/43

[2020-12-13 21:18] legal90 commented on #374
Hi @worftan, I can confirm that the feature `update_guest_tools` doesn't work properly on VMs with Alpine Linux.

Due to the Alpine specifics, the mount command syntax is different and we should use `-o iso9660` instead of `-o loop`. However, the installer of guest tools doesn't work there anyway:

[code]

Also, as we can see, in the box `generic/alpine38` doesn't have Parallels Guest Tools preins

[2020-12-13 21:22] legal90 commented on #374
So, you can still run `generic/alpine38` as Parallels Desktop without guest tools support, it will work:
[code]
But shared folders won't work there.

[2020-12-14 09:03] #290 closed

[2020-12-14 09:03] #376 closed

[2020-12-15 09:25] legal90 commented on #373
@NanonaN Could you please provide the `Vagrantfile` your were using to create your Ubuntu 18.04 VM?
That's needed to reproduce the issue and find out whether you use `linked_clone` feature or not (it's enabled by default).

[2020-12-16 05:12] NanonaN commented on #373
HI, the Vagrant file is pasted below.
[code]

[2020-12-16 05:22] NanonaN commented on #373
@legal90 Thanks for your help, I updated my vagrant-parallels plugin and the problem solved.

[2020-12-18 12:00] #373 closed

[2020-12-19 02:08] ph55 opened #379 "Big Sur. Network initialization failed."
After upgrading to Big Sur, can't reload any of ubuntu 16.04 machines.

Getting UI error:
![image](https://user-images.githubusercontent.com/1386622/102678162-671d7c80-41af-11eb-8c0d-228dfdf4d035.png)

And error in vagrant console. while reloading:
[code]

I've seen few workarounds for Windows machine but none of it worked for vagrant.

[2020-12-19 06:33] #379 closed

[2020-12-21 20:40] legal90 commented on #375
Hi @ahoiroman,

Unfortunately, the errors of building `nokogiri` (the dependency gem which we have to use to work with XML documents) are not related to `vagrant-parallels` directly.
Usually, the root cause is on macOS / "XCode Command Line Tools" side. Did you check the content of this file?

[code]

Also, it could make sense to upgrage macOS to the latest patch version and re-install _"XCode Com

[2021-01-11 12:36] Ola-kamal opened #380 "Developers tools"

[2021-01-11 15:38] alevlasu commented on #380
Hi @Ola-kamal ,

Could you please elaborate on this request?

[2021-01-11 15:58] #380 closed

[2021-01-17 20:48] AdrianwithaW commented on #322
Have just encountered this problem… what am I looking at? I only have one VM set up on my machine, but the list output by the command above is like so:
[code]

[2021-01-17 20:59] AdrianwithaW commented on #322
Ok, somewhat simple fix here - this list is also available in Parallels in the network preferences. They can just be deleted one by one which seems to cause no harm.

[2021-01-18 08:02] legal90 commented on #322
Hi @AdrianwithaW,
The issue you have most likely the same as #369. It was fixed it varagrant-parallels v2.1.0:
https://github.com/Parallels/vagrant-parallels/releases/tag/v2.1.0
Please make sure that you use the latest version (`vagrant plugin list`)

[2021-02-01 08:44] ahoiroman commented on #375
Hi @legal90

I am running latest macOS and reinstalled Xcode including CLI-Tools. The error is still present.

[2021-02-17 16:16] dominikzogg opened #382 "Parallels Preview for M1: Timed out while waiting for the machine to boot."
Since the update from yesterday (2021-02-17) vagrant cannot connect to the machine anymore. The machine itself is up and running (checked via gui).

[code]

It seems to be a networking issue, cause ìfconfig` within the machine only returns the loopback device.

The ubuntu 20.04 image i am using does not regognize any network devices, even when i add new onces.

[2021-03-01 17:15] BenceSzalai commented on #290
Hi! Do you have any plan about releasing the fix, or is there a way to use the latest master instead of [v2.1.0](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.1.0) with Vagrant?

[2021-03-01 17:57] legal90 commented on #290
Hi @BenceSzalai,
I'm sorry for a long delay with the release. I'll do my best to cut a new release during this week.

Using the lates master is also possible. Please, check the section ["Building Provider from Source"](https://github.com/Parallels/vagrant-parallels/blob/master/CONTRIBUTING.md#building-provider-from-source)

[2021-03-03 19:40] legal90 commented on #290
The fix is released in [v2.2.0](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.2.0)

[2021-03-09 13:02] aske-cph commented on #375
Thanks for the attention, but i just found a solution!

You have to reinstall command line tools: `xcode-select --install`

Then you can install without errors.

The error was:

https://gist.github.com/aske-cph/2a931bb11c11bc419c7b0d98e0af8d40

[2021-03-31 03:40] musie21 commented on #323
so i'm using my mac to run this command and unfortunately my provider i use parallels, i still face an error.

mussiegherzghir@MacBook-Pro WPDistillery % vagrant up --provider parallels
Bringing machine 'default' up with 'parallels' provider...
==> default: [vagrant-hostsupdater] Checking for host entries
==> default: [vagrant-hostsupdater]   found entry for: 192.168.33.10 wpdistillery.vm
==> defa

[2021-03-31 07:40] legal90 commented on #323
Hi @musie21
The box you are trying to use, `scotch/box`, has only `virtualbox` provider support:https://app.vagrantup.com/scotch/boxes/box

Boxes are provider-specific. Versions for multiple providers still could be published under the same name, but physically these are separate images which are built separately. Example of multi-provider box: https://app.vagrantup.com/laravel/boxes/homestead

Th

[2021-03-31 10:39] romankulikov commented on #323
There's some functionality, it least in Parallels Desktop for Mac, to convert thrid-party VM images to PDfM's native format. It is possible to utilize it somehow?

[2021-03-31 10:45] legal90 commented on #323
@romankulikov
It is possible to convert the VM image to Parallels Desktop format, but in order to make it working with Vagrant it still needs to be packed as a "parallels-native" box afterwards. After that, there is still no guarantee that it will work as expected.

So, I wouldn't recommend going to that rabbit hole. It should be easier just to build a native box from the scratch using packer. Tha

[2021-03-31 19:40] spencerhakim opened #384 "Plugin broken with Vagrant 2.2.15"
Vagrant 2.2.15 includes https://github.com/hashicorp/vagrant/pull/12184 which breaks the vagrant-parallels plugin, producing the following output on `vagrant up`:

[code]

-----------------

For anyone needing a workaround, editing `$HOME/.vagrant.d/gems/2.6.6/gems/vagrant-parallels-2.2.0/lib/vagrant-parallels/cap/mount_options.rb` and replacing
[code]
with
[code]
seems to work.

[2021-04-01 06:36] legal90 commented on #384
@spencerhakim Thank you for reporting this issue!
I'll try to prepare the fix soon.

[2021-04-06 13:13] robrecord commented on #384
Thanks so much!

[2021-04-08 08:07] mpdude commented on #350
Same here 🍿

[2021-04-08 08:32] mpdude commented on #350
Me or team mates run into this as well from time to time.

We know how to fix things manually in that situation, but before we do that – any useful debugging/troubleshooting information we could gather for you before?

[2021-04-08 11:10] romankulikov commented on #350
@mpdude, try to look at `/var/log/parallels-tools-install.log` in the guest. Or post it here.

[2021-04-08 11:12] mpdude commented on #350
I have put this onto our internal list of what to do in case of these problems. Will post here as soon as we next run into it.

[2021-04-13 11:01] mpdude commented on #350
So, here we go:

`vagrant reload` aborted with the error message

[code]

I went into the VM with `vargant ssh`, but there was no current entry at the end of `/var/log/parallels-tools-install.log`. But at the end of `/var/log/parallels.log` I found this:

[code]

I then tried two commands:

[code]

The info in `/var/log/parallels.log` looks similar; again, nothing written to `parallels-tools-insta

[2021-04-14 19:25] ondrasek commented on #384
Is the fix coming any time soon? Patching manually every single vagrant install is not that easy...

[2021-04-14 19:35] ondrasek opened #385 "Vagrant-parallels fails to recognize that vm is running."
The plugin fails to recognize that VM is already booted up in Parallels. Running without debug, the `vagrant up' process is stuck at:
[code]

With debug, this is what I see running in a loop:
[code]

Prlctl run manually produces:
[code]

Yet the provider is looping over the prlctl command until it times out.

I can also see the VM running in Parallels and I am able to login using default Vagrant c

[2021-04-14 19:37] ondrasek commented on #385
[debug.out.txt](https://github.com/Parallels/vagrant-parallels/files/6313276/debug.out.txt)

[2021-04-14 19:48] ondrasek commented on #385
Seems to be Parallels issue.
Running `prlsrvctl shutdown -f` fixes the issue. Apologies and closing. I have reported the root cause to Parallels support. The problem is that DHCP fails on the shared network and the machines stop getting addresses.

[2021-04-14 19:48] #385 closed

[2021-04-14 20:16] legal90 commented on #384
Hi guys, sorry for a delay. Here is the fix: https://github.com/Parallels/vagrant-parallels/pull/386

I'll complete the verification on both Vagrant 2.2.14 and 2.2.15 and then will cut a new release of the plugin.

[2021-04-14 20:40] #384 closed

[2021-04-14 20:44] legal90 commented on #384
@ondrasek @robrecord The fix is released in [vagrant-parallels v2.2.1](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.2.1). Could you please check that it works on your setup?

[2021-04-15 06:47] roaldnefs commented on #384
I was running into the same issues as described above, the new plugin works perfectly! 🎉

[code]

[2021-04-15 14:37] romankulikov commented on #350
Logs
[code]
indicate that Toolgate (host-guest transport) is missing, i.e. prl_tg kernel module is not loaded. This may be due to different reasons. For example, kernel was updated in the guest but appropriate kernel headers were not installed and thus DKMS failed to recompile kernel modules. Or something was just broken in the guest system (DKMS uninstalled, Parallels Tools kernel modules removed

[2021-04-30 18:11] m-emelchenkov commented on #290
I tried today version 2.2.1 with Vagrant 2.2.16 and faced the issue: i.e. I have a path `/Users/Mikhail/Жена/Веб-сайт/www/tools`, and run `vagrant up` from there. So I have mounted folder under /vagrant. Instead it mounts `/Users/Mikhail/Жена`. It lost part of path somewhere. I am not familiar with Vagrant architecture, I did only basic debugging (debug `puts`) and found that plugin's function `de

[2021-05-05 11:27] ahoiroman commented on #375
Log shows

[code]

reinstalling using `xcode-select --install` did solve the problem here, too.

[2021-05-05 11:27] #375 closed

[2021-05-12 06:06] legal90 commented on #290
@m-emelchenkov If that is still actual for you - could you please create a new issue and provide the sample of Vagrantfile you are using? Thanks!

[2021-05-12 08:59] m-emelchenkov opened #388 "Can't mount /vagrant path if VM path contains "й" character"
Subj. Steps to reproduce:
- Create path `"/Users/[user]/Йокарный Бабай"`.
- `cd "/Users/[user]/Йокарный Бабай"`.
- `vagrant init bento/ubuntu-20.0.4`.
- `vagrant up`

You'll found that /Users/Mikhail will be mount under "/vagrant", not "/Users/Mikhail/Йокарный Бабай", as expected.

Why? Because UTF-8 is, generally speaking, a piece of sh*t. Anyone who has worked closely with this encoding realizes

[2021-05-12 08:59] m-emelchenkov commented on #290
https://github.com/Parallels/vagrant-parallels/issues/388

[2021-05-12 21:23] robrecord commented on #384
Also works for me on vagrant 2.2.16. Thank you!

[2021-05-14 19:12] legal90 commented on #388
Hi @m-emelchenkov
I made a test on my machine and it works just as expected. Let's go into the details:

## Environement
- macOS Big Sur 11.3.1
- Parallels Desktop for Mac 16.1.2
- Vagrant 2.2.16
- vagrant-parallels 2.2.1

## Steps what I did
1. I created a new dir
[code]
2. Then initiated a new vagrant configuration:
[code]
so, the Vagrantfile looks like this:
[code]
3. Run vagrant up. That's wha

[2021-05-14 19:28] m-emelchenkov commented on #388
Hi @legal90!

Apple makes me LOL :-). You created a folder from Terminal. I created from Finder. When you create from Finder, it seems, you get different encoding, than when creating the same folder from terminal. Try to create from Finder. If it will works for you, then it means Apple fixed it one of macOS versions above High Sierra.

[2021-05-17 07:41] mpdude commented on #350
A co-worker ran into the issue this morning. Basically, `ptiagent-cmd --install` exited with `ptiagent-cmd progress 10`.

They say that they tried installing the `linux-headers-generic` package (running Ubuntu 18.04; this will install the latest  `linux-headers-4.15.0-...` and `linux-headers-4.15.0-...-generic` packages). After that, `ptiagent-cmd --install` worked without problems.

So, can it be

[2021-05-19 18:11] legal90 commented on #388
I have manage to reproduce the issue with the folder created in Finder. That's true - the `Й` character is encoded differently when its created in Finder, rather when it's created in terminal (in my case: iTerm2 + fish shell).

I investigated it a bit more and found that the "cropped" path is coming from Vagrant level, so we can't do anything with that on our plugin side. I found the similar issue

[2021-06-10 15:44] ostrolucky opened #389 "Upgrade from 2.1.0 to 2.2.x borks the VM"
1. `vagrant plugin install vagrant-parallels --plugin-version 2.1.0`
1. `vagrant up` # ok so far
1. `vagrant plugin update vagrant-parallels`
1. `vagrant halt`
1. `vagrant up`

[code]

![image](https://user-images.githubusercontent.com/496233/121555627-75887a80-ca13-11eb-96b6-c8e7fb579ed9.png)

[2021-06-11 07:12] ostrolucky commented on #389
Issue persists on reload and I cannot use `journal -xb` because I cannot access console.

﻿
![image](https://user-images.githubusercontent.com/496233/121645269-48c87780-ca94-11eb-983d-12d236242e17.png)

This reproducibly happens on every update from 2.1.0. If box is provisioned for first time with 2.2.x, then it works though. Doesn't happen to me only, but all people I know who use our Vagrant con

[2021-06-11 19:09] legal90 commented on #389
@ostrolucky I can't reproduce the issue on the plain `generic/debian10` box (`vagrant init generic/debian10 -m`).
Could you please provide a simplified `Vagrantfile` which could be used to reproduce that issue?

I suspect that it might be related to synced folder mounting, because between v2.1.0 and v2.2.1 there are changes related to guest's `/etc/fstab`, but still need to check that to be sure.

[2021-06-11 23:16] ostrolucky commented on #389
[code]

[code]

[2021-06-12 02:38] DirectRoot opened #390 "`apt-upgrade` leads to failing `vagrant reload`"
Hi there,

When I create machines via `up` directories are mounted just fine. However after an `apt upgrade` is run, any subsequent `vagrant reload` will not mount the host directories in the VM. No output from STDERR is captured, but I SSH'd into one of the machines and manually ran the suggested command...

[code]

Which produced the output `mount: /vagrant: unknown filesystem type 'prl_fs'.`

I

[2021-06-16 06:14] mpdude commented on #390
Can you check if the Parallels Guest Tools are still installed/available in the guest after you did the update?

Maybe the box came with them installed by default, but your updates installed a newer kernel version, and now the tools are incompatible/cannot be loaded or so? Just guessing...

[2021-06-16 06:40] relthyg commented on #389
Same here.

    vagrant init bento/ubuntu-18.04 && vagrant up --provider parallels && vagrant reload

fails in the same way.

    vagrant plugin install vagrant-parallels --plugin-version 2.1.0

is the cure.

Vagrant 2.2.16
Parallels 16.5.0
MacOS 11.4

[2021-06-16 06:51] romankulikov commented on #390
Most probably kernel was updated during `apt upgrade` but Parallels Tools kernel modules were not recompiled properly. This may be due to various reasons. I suggest to start with looking into DKMS log `/var/lib/dkms/parallels-tools/kernel-$(uname -r)-$(uname -m)/log/make.log`.

[2021-06-16 20:53] mpdude commented on #389
Might be the change from #377, that seems to tweak mount options on `vagrant reload`?

Does it indeed change `/etc/fstab`? If it corrupts that and/or puts invalid values in there, that would explain why the Boot cannot mount the root filesystem and ends up in emergency mode.

[2021-06-17 19:28] DirectRoot commented on #390
Unsure how to check if the tools are still installed/available, I'm using SSH to access a headless VM so can't test copy/paste functionality etc. Is there another way to test over SSH? (Apart from not having the required file system type to mount a shared directory).

`uname -r` from `5.4.0-65-generic` to `5.4.0-74-generic` after `apt-upgrade`. There was a log generated at the mentioned location f

[2021-06-17 19:28] #390 closed

[2021-06-17 21:45] romankulikov commented on #390
Sure, something like (untested)
[code]

[2021-06-17 21:47] DirectRoot commented on #390
Ah yes, I checked this path within the VM and the file wasn't there. There was one for `5.4.0-65-generic` (before I updated) but not one after and then `prl.update_guest_tools = true` attempted to update Parallels tools.

[2021-06-20 22:34] pokono commented on #389
+1 I have the same issue for months now. Only things I was able to do is suspend the machine instead of halting it.

Reverting the parallels plugin to 2.1.0 does indeed solves the issue for now.

Vagrant 2.2.16
Parallels 16.5.0
MacOS 11.4

[2021-06-21 16:02] clementmouchet commented on #389
Yep, I can see this on my CentOS 7 VMs too, the /etc/fstab still contains entries from the mounts of the previous boot, but the shares aren't setup, so the machine fails to boot very early on.

You can enter the rescue mode, take entries out and reboot it immediately, and vagrant then carries on happily.

[2021-06-23 06:47] legal90 commented on #389
Hi all and thank you for the provided information!
I confirm that vagrant-parallels release v2.2.0 has a regression which caused the VM boot failure after the reboot.
Sorry about that! :(

I prepared the fix for this issue: https://github.com/Parallels/vagrant-parallels/pull/391
Hopefully I can get it merged and released later today.

[2021-06-23 18:59] legal90 commented on #389
@ostrolucky @clementmouchet @pokono @relthyg I just released the `vagrant-parallels` [v2.2.2](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.2.2) with the fix #391.
Could you please update the provider to and check if it fixes the problem in your case? Thank you in advance!

[2021-06-23 20:48] clementmouchet commented on #389
Thanks @legal90 it fixes it for me.

[2021-06-24 07:54] legal90 commented on #388
I'm gonna close this issue since it's coming from the upstream Vagrant. It could be tracked here: hashicorp/vagrant#10225

[2021-06-24 07:54] #388 closed

[2021-06-24 07:55] legal90 commented on #389
@clementmouchet Thank you for confirming! I'm gonna close this issue now.
Feel free to open a new one if you will encounter that again

[2021-06-24 07:55] #389 closed

[2021-06-24 07:58] relthyg commented on #389
Works for me, thank you!

[2021-06-24 21:42] ph55 opened #392 "Ubuntu VM won't reload if shared folder mounted with parallels type"
If `vm.synced_folder.type` set  to `RSync` VM would be able to reload (`vagrant reload`).

[code]

But if `vm.synced_folder.type` left empty or set to `parallels` VM won't reload.
[code]

[code]

[2021-06-25 05:20] legal90 commented on #392
Hi @ph55, It looks the same as https://github.com/Parallels/vagrant-parallels/issues/389.
It was fixed in the release v2.2.2: https://github.com/Parallels/vagrant-parallels/releases/tag/v2.2.2

Please, update the `vagrant-parallels` plugin and try again

[2021-06-25 12:44] #392 closed

[2021-06-30 13:52] cavalcantej commented on #382
Any workarounds on this issue @dominikzogg ?

[2021-07-05 07:18] dominikzogg commented on #382
@cavalcantej no workarounds, i think it was cause the preview was finished, after i reinstalled the released version (pro version) it worked again.

[2021-07-05 07:18] #382 closed

[2021-07-05 16:55] cavalcantej commented on #350
I'm having the same problem after trying to start my boxes, after the creating they work great, but after restarting the Mac it doesn't seen to work anymore.

Any solutions for this issue?

[2021-07-09 20:30] benauld345 opened #393 "Vagrant 2.2.17 forwarding ports"
When  upgrading to Vagrant 2.2.17 on macOS Big Sur, forwarding ports seems to crash with the following:

[code]

I've found that changing these lines of code seem to fix in `forward_ports.rb`:

Line 32, change to:

[code]

And line 56, change to:

[code]

[2021-07-12 19:50] nourcy commented on #393
thank you so much @benauld345 I confirmed the bug and your fix 🙏🏽
vagrant-parallels 2.2.2
vagrant 2.2.17
BigSur 11.4 MPB M1

[2021-07-12 21:01] jmfrank63 commented on #393
The fix does work for the ports, unfortunately not for guest_ip. @benauld345 `fp.guest_ip` is an unknown method, before now learning ruby, maybe you could point me to the right file to have the guest_ip obeyed too.

[2021-07-12 22:28] jmfrank63 commented on #393
@benauld345 I got it working, it is a little too much for simple instructions here. I'll clean up the code and put in a PR, but it is late here in the UK, so expect it by tomorrow.

[2021-07-13 22:54] jmfrank63 opened #395 "Test Suite fails with ArgumentError due to move to ruby3"
After checking out and running the test suite with `bundle exec rake` the seven test fail with an ArgumentError:

[code]

[2021-07-13 23:18] jmfrank63 commented on #393
The rapid fix is actually to simply add two stars (`**`) in front of the `message_attributes` argument in line 56. This is now required for keyword arguments to be passed in ruby3.

[2021-07-13 23:34] jmfrank63 opened #398 "Guest and Host IP address are ignored when forwarding ports"
When forwarding ports, neither guest nor host IP are considered.
Example from Vagrantfile:
[code]
Although specified, guest_ip (and host_ip) are ignored.

[2021-07-13 23:41] jmfrank63 commented on #398
I already have a fix for this working on my local repo, but with test suite and port forwarding currently broken, it will be difficult to add another PR without creating a mess. Please consider merging #396 and #397 first.
Thank you.

[2021-07-14 20:29] #398 closed

[2021-07-14 20:31] legal90 commented on #395
Fixed by https://github.com/Parallels/vagrant-parallels/pull/399

[2021-07-14 20:31] #395 closed

[2021-07-14 20:39] legal90 commented on #393
Fixed by https://github.com/Parallels/vagrant-parallels/pull/399 and released in `vagrant-parallels` [v2.2.3](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.2.3)

Thank you, @jmfrank63 👍

[2021-07-14 20:39] #393 closed

[2021-08-12 21:41] benlumia007 opened #400 "Provisioner is not running on "vagrant up --provision""
not sure if this is the right place to mentioned this. but here's my little frustration comes to play

`vagrant up --provision` does not work as expected to be when using other providers. I believe that whenver i use `vagrant up --provision` on other providers. it allows me to provision my scripts without doing a `vagrant reload --provision`.

while using parallels, vagrant up --provision only che

[2021-08-17 12:10] giezi opened #401 "Support for Parallels Desktop 17 (macOS M1 VMs)"
Hello together

I just wanted to ask when you guys support macOS M1 VMs (with Parallels Desktop 17) in the Vagrant Plugin?
For example we would like to create a new base-box from an macOS M1 VM.

Thanks and greetings
Reto

[2021-08-17 12:23] romankulikov commented on #401
I should say that support of macOS guests on M1 Macs is experimental at the moment and development is in progress. And current implementation doesn't allow to work with then using regular product interfaces, like `prlctl`.

I cannot give any promises and ETA-s when it is going to become "production ready".

[2021-08-17 12:43] giezi commented on #401
Hi @romankulikov
Many thanks for the fast and detailed answer. Make sense if "prlctl" is not yet supported.

[2021-08-18 20:20] #400 closed

[2021-08-18 20:31] legal90 commented on #400
@benlumia007 Thank you for reporting this! I fixed it by #402 and released in [v2.2.4](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.2.4)

[2021-08-18 20:59] benlumia007 commented on #400
@legal90
appreciated and thanks!

[2021-08-24 06:26] jamesmartin commented on #360
👋 any movement on this? I'm trying to achieve the same thing.

[2021-08-29 21:13] mortyspace opened #403 "Cannot configure "config.vm.define private" network"
Works only for root statement config.vm.network "private_network", not per vm statement

May be here is problem https://github.com/Parallels/vagrant-parallels/blob/84354770a8efb93b0e3eeb55f39376efc8eaf2c6/lib/vagrant-parallels/config.rb#L40

For example:
[code]

[2021-09-05 01:38] javiermaciasa opened #404 "Cannot install Vagrant in Parallels in my Mac M1 with arm"
Hi I can't create the vagrant VM to use homestead, it says that is because I have an M1 processor, does this have a solution? or I have to change my computer?

thanks for your help.

[2021-09-13 09:14] legal90 commented on #404
Hi @javiermaciasa
Unfortunately, the edition of Parallels Desktop for M1 computers doesn't have a support of `prlctl` CLI utility (https://github.com/Parallels/vagrant-parallels/issues/401#issuecomment-900250874). That makes it impossible to use this Vagrant provider on M1 computer :(

[2021-09-13 14:19] alevlasu commented on #404
@legal90 , M1 version of Parallels Desktop has a full featured CLI support. Only macOS VM on M1 is not supported in CLI.

[2021-09-13 14:22] alevlasu commented on #404
As far as I can see homestead doesn't have images build for M1 yet (see https://github.com/laravel/homestead/issues/1552)
There is an unofficial build: https://github.com/yodoware/homestead-arm64

[2021-09-13 14:24] legal90 commented on #404
@alevlasu Thank you for the clarification! I didn't have a change to try M1 yet :)
Do you mean that `prlctl` can't be used for listing and managing VMs on M1 hosts?

[2021-09-13 17:47] alevlasu commented on #404
Absolutely.

[2021-09-17 18:08] legal90 commented on #403
Hi @mortyspace ,
Could you please elaborate what exactly does not work in your case?

In the example you have provided everything works fine:
1. Vagrantfile:
[code]

2. Create VMs:
[code]

3. Verify:
[code]

[code]
^ Both VMs have the desired IP address assigned

[2021-09-17 18:14] mortyspace commented on #403
wow, strange, will retest on my side

[2021-10-01 07:31] jyscao opened #405 "User vagrant cannot SSH into guest on vagrant up to configure & provision"
Hi, I'm new to using Parallels (just purchased earlier today), but I'm fairly proficient at using Vagrant with VirtualBox on my Linux PC. I intend to use Parallels as the provider for my Vagrant development environment on my M1 Macbook Air.

After creating a barebones Vagrantfile (only basic machine configurations and networking, no provisioning), I tried to bring it up. But ran into the following

[2021-10-01 19:29] jyscao commented on #405
Actually the packager of the box I'm using was aware of this issue (it's a bug in the most recent version of Parallels), and also provided a workaround to it. See this [issue thread](https://github.com/chef/bento/pull/1374#issue-737137420).

In short, add `prl.customize ["set", :id, "--device-del", "cdrom0" ]` to the Parallels config block in your Vagrantfile

[2021-10-01 19:29] #405 closed

[2021-10-18 11:22] gtestault opened #406 "My plugin seems to crash on network configuration"
vagrantfile:
[code]
ouput:
[code]

[2021-10-20 17:29] gtestault opened #407 "SSH timeout on macOS VMs with shared networking"
Here are some snippets from the debug vagrant log

[code]

[code]

[2021-10-21 11:17] #407 closed, assigned to nobody

[2021-10-28 13:07] AnatomicJC opened #408 "vagrant-parallels and Parallels 17 issue ?"
Hi 👋 ,

I'm using a MacBook pro 2020 with Intel chip.

[code]

With Parallels 16, I have this interface with **10.211.55.0/24** network when I launch ifconfig:

[code]

When I upgrade to Parallels 17, this interface _**is missing and vagrant is no more able to configure the VM.**_

[code]

I switched back to Parallels 16 to use vagrant. Is it a know issue ?

Thanks !

[2021-11-02 22:19] GregOriol opened #409 "Vagrant doesn't use parallels as provider"
Hi,

I have a strange issue with this plugin and parallels freshly installed on an M1 mac: vagrant doesn't seem to want to use parallels as the provider.

Here is what I'm getting in a new directory:
[code]

Could anyone have any idea on what is going on or what to look for to debug this?

[2021-11-03 08:00] GregOriol commented on #409
It seems that VirtualBox is needed anyway: you must install it and then vagrant proceeds as expected with Parallels...

[2021-11-03 08:00] #409 closed

[2021-11-04 23:05] kgiffordhv commented on #360
So, I understand the underlying difficulty in accomplishing this mentioned by @legal90.

That said, there are some of us where the danger, "...unfortunately we can't remove this snapshot, because that will corrupt all existing linked clones." is irrelevant.

The fact that I _used_ to have a version of my VM that used linked cloning is vestigial.

The reality is, I only need/use exactly 1 VM (at a

[2021-11-05 19:40] #403 closed

[2021-11-05 19:41] legal90 commented on #403
@mortyspace I'm closing it now. If that issue is still actual for you, please fill a new one with more details how to reproduce it

[2021-11-05 20:09] legal90 commented on #409
@GregOriol Actually, that is not a requirement.  If your vagrant configuration (`Vagrantfile`) don't have any reference to `virtualbox` provider, then it shouldn't fail like this even if you don't have Virtualbox installed

As I can see, you are using a blank `Vagrantfile`, which you got by `vagrant init bento/ubuntu-20.04`.
So, the only guess I have is that you probably have the file `~/.vagrant.

[2021-11-05 20:15] legal90 commented on #408
@AnatomicJC I don't see that issue in my case with Parallels Desktop 17.1.0.

I remember that after the upgrade to Parallels Desktop 17 it ask to reboot the Mac.  Did you try rebooting after the upgrade? If not - please try to reboot and then also check the output of `prlsrvctl net info Shared`. Normally it would look like this:
[code]

[2021-11-05 20:33] legal90 commented on #406
Hi @gtestault
This error happens because you use the parameter `adapter`, which is not documented and is not suppoosed to be used there:
[code]
What's purpose of it in your Vagrantfile configuration?
If you want to select a certain network interface, please use `bridge:` parameter instead, as described in docs:
- https://www.vagrantup.com/docs/networking/public_network
- https://parallels.github.i

[2021-11-06 13:14] AnatomicJC commented on #408
Hi @legal90 thanks for reply me. I forgot to say in the description of the issue I am using MacOS 12.0.1 Monterey, and I opened this issue after upgrading MacOS to 12.0.1.
By the way, I upgraded again Parallels to version 17.1.0 just now and I no longer encounter this issue :)
So I will close this issue as all is working as expected.

Thanks !

[2021-11-06 13:14] #408 closed

[2021-12-07 16:22] q0rban opened #410 "Error when adding more than 4 networks"
I have a Vagrant config that works with VirtualBox. It creates 7 networks like so:

[code]

This _appears_ to work with parallels as well:

[code]

I can also see the 7 networks in the Parallels desktop UI:
![tugboat_tugboat_1638893383870_85842  Configuration 2021-12-07 11-19-48](https://user-images.githubusercontent.com/66118/145066418-6d22c156-9d8d-4130-9be2-9585831ee7d4.png)

However, `ip a` on

[2021-12-14 12:16] giezi commented on #401
@romankulikov Sorry to bother you, do you have any news regarding prlctl? Thanks!

[2021-12-22 03:20] alevlasu commented on #401
Ho @giezi, alas no news to share yet.

[2022-01-06 03:08] lonedevel opened #411 "Parallels vm.provider creating duplicate disks when using --device-add"
I'm trying to create multi-node environment for distributed database testing.  The database can run on multiple VMs and I'm trying to configure each with a separate separate disk and mount point for the database content.

 In my Vagrantfile I'm only calling the provider.customize option once, yet I see 2 new SATA hdd definitions in each VM configuration that have the same size (128GB).   I attache

[2022-01-06 10:43] polarbirke opened #412 "Can't install vagrant-parallels despite latest Vagrant and Ruby"
I'm failing to install vagrant-parallels via `vagrant plugin install vagrant-parallels` although I'm on the latest vagrant version (2.2.19). Vagrant is already using the embedded Ruby version (from `/opt/vagrant/embedded/bin/ruby`) 2.7.4 and not the default MacOS Big Sur version (which is 2.6.3 in my case):

[code]

This issue also exists with the [vagrant-dns](https://github.com/BerlinVagrant/vag

[2022-01-06 17:38] fnordfish commented on #412
It's a vagrant issue where it does not correctly resolve plugin dependencies, see hashicorp/vagrant#12640

[2022-01-06 17:43] polarbirke commented on #412
Thank you for opening that issue, @fnordfish! I wanted to leave a (second) trail here for other people with plugin install problems.

I found it curious that I could install vagrant-parallels via your work-around (building it locally) even _without_ your fixes (explicitly allowing Ruby < 3), but haven't looked deeper.

[2022-01-06 17:53] fnordfish commented on #412
@polarbirke Looking at this projects gemspec, I believe you get this error because you are using vagrant-dns. vagrant-parallels does not seem to have any connection to `io-event`.
It's (another) common issue, that when installing another plugin in vagrant, it might stumble about an issue in another plugin. That's because it's all plugins need to coexist in the same ruby environment, sharing the sa

[2022-01-06 17:55] polarbirke commented on #412
Oh, interesting! Thanks for the explainer!

[2022-01-06 20:10] mpdude commented on #412
@fnordfish thank you for your support here and for resolving the `vagrant-dns` issue so quickly ✨

[2022-01-08 08:47] lorrin commented on #409
I can reproduce the behavior. I do not have a `~/.vagrant.d`.
[code]

`--debug` yields a lot of output. Here's the last bit, hopefully that is enough to be helpful.

[code]

[2022-01-08 08:55] lorrin commented on #409
For anyone trying the work-around of installing VirtualBox, note that the current installer aborts with _The installer has detected an unsupported architecture. VirtualBox only runs on the amd64 architecture._, but older [6.0.24 installer](https://www.virtualbox.org/wiki/Download_Old_Builds_6_0) has no such check.

[2022-01-17 22:16] ps-mattstuart commented on #404
I haven't created the PR yet for it but I have a version I'm working succesffully with on my M1 Pro and Parallels https://github.com/Petrosight/vagrant-parallels/tree/issue-401-m1-support

[2022-01-27 10:56] beniaminorossini opened #413 "undefined method `synced_folder_capability' for VagrantPlugins::Parallels::Plugin:Class"
[code]

Macos Monterey and Vagrant 2.2.9

Thx

[2022-02-09 19:20] legal90 commented on #413
Hi @beniaminorossini ,
Could you please try to reproduce this issue with latest Vagrant 2.2.19?
If it still happens - please post the Vagrantfile which could be used to reproduce it.

Thank you!

[2022-02-09 19:23] #412 closed

[2022-02-09 19:49] legal90 commented on #411
Hi @lonedevel ,

Sorry for a late reply. The disk is added twice because the VM is getting rebooted during the initial `vagrant up` run (due to `prl.update_guest_tools = true `) and you have a configuration which makes `prl.customize` command to run _on every boot_:
[code]
^ This is a default behavior. In your case you definitely need to run it only once, after the VM is created, so please add `"p

[2022-02-09 19:49] #411 closed

[2022-02-09 20:30] legal90 commented on #410
Hi @q0rban

If that issue is still actual for you, could you please share more details ?
1) Could you please share the Vagrantfile (or at least a box name) which could be used to reproduce that issue ?
2) Which versions of Vagrant, vagrant-parallels and Parallels Desktop did you use?

[2022-02-09 20:31] legal90 commented on #410
I tried to reproduce it on Parallels Desktop for Mac `17.1.1` , Vagrant `2.2.19` and vagrant-parallels `2.2.4` and it works just fine in both cases:
### Case n.1
All networks are type DHCP. In reality all these virtual NICs will be bridged through the same bridge interface on your Mac (bridge101), which is mapped to the default "Host Only" network:
[code]
Output:
[code]

### Case n.2
All networks

[2022-02-09 20:32] #406 closed

[2022-02-10 18:35] q0rban commented on #410
I tried the [`laravel/homestead-arm`](https://app.vagrantup.com/laravel/boxes/homestead-arm) box in the same Vagrantfile and got the following error:

[code]

Same error with [`linyows/ubuntu-20.04-arm64`](https://app.vagrantup.com/linyows/boxes/ubuntu-20.04-arm64)

[code]

[2022-02-18 22:29] gadelkareem opened #414 "update_guest_tools does not check the processor architecture"
I am trying to run Vagrant with parallel on mac m1 but the update_guest_tools is loading parallel tools from `prl-tools-lin.iso` instead of `prl-tools-lin-arm.iso` which of course fails to install.

[2022-02-18 22:32] gadelkareem commented on #404
@ps-mattstuart can you merge this?

[2022-02-18 22:32] gadelkareem commented on #414
Dup of https://github.com/Parallels/vagrant-parallels/issues/404

[2022-02-18 22:32] #414 closed

[2022-02-19 14:12] DanDvoracek commented on #413
Hi @legal90 I'm facing the same issue. Here is my vagrant file. Any idea what's wrong ? It looks like the plugin doesn't appear there, which is weird as it shows a successful install.

[code]

At that point I'm getting a bit lost on why I get this error. Any hint would be much appreciated 👍

[2022-02-20 00:06] ps-mattstuart commented on #404
I'll look to open the PR in the coming days. It was mostly focused on getting the tests done.
Note, I recently updated the branch pretty significantly to instead of taking a setting to reach out the VM and ask what arch it is to make it automated.

[2022-02-20 12:56] legal90 commented on #413
Thank you for the information, @DanDvoracek,
The fact that the re-installation of Vagrant fixes this issue, means that the root cause is located somewhere outside our plugin.

My thoughts:

[code]
This error means that Vagrant can't find  the definition of `synced_folder_capability`, while it has to be in the core Vagrant bundle: https://github.com/hashicorp/vagrant/blob/3d68e16f1b5d616f879d24f48d

[2022-02-21 18:35] ferantivero commented on #409
if I am not mistaken is the `vagrant-disksize` plugin adding some noise here. I've just uninstalled that one and `vagrant up` started working back again.

[2022-02-21 19:04] brycekahle opened #415 "License check does not support Pro trial"
The trial version of Parallels Desktop for Mac includes all the Pro features. The license check in this plugin does not account for this and prevents usage, despite the `prlctl` CLI utility being available.

[code]

[code]

[code]

[2022-02-21 19:17] brycekahle commented on #415
Apparently the supposed Pro trial does not include the CLI functionality needed. This makes it hard to evaluate if this setup will work for us.

[2022-02-21 19:17] #415 closed

[2022-02-21 20:04] legal90 commented on #409
Thank you, @ferantivero ! You're right, the issue seems to be caused by the `vagrant-disksize` plugin. It's well described here: https://github.com/sprotheroe/vagrant-disksize/issues/45

[2022-02-22 06:37] ps-mattstuart commented on #404
PR opened. @gadelkareem you can install the plugin manually, clone my branch and then check the CONTRIBUTING.md file for information on how to build and install the plugin. https://github.com/Petrosight/vagrant-parallels/tree/issue-401-m1-support

[2022-02-22 20:38] legal90 commented on #404
Fixed by #416 , thank you, @ps-mattstuart !

The fix is released in [v2.2.5](https://github.com/Parallels/vagrant-parallels/releases/tag/v2.2.5)

[2022-02-22 20:38] #404 closed

[2022-02-24 03:52] gadelkareem opened #417 "Different disk size in Vagrant vs Parallels"
The box is Ubuntu 20 running on mac m1.

The mounted disk is different in vagrant than parallel or the original box.

Inside Vagrant I see:
[code]
[code]

While Parallels shows the correct disk size:
<img width="590" alt="Screenshot 2022-02-24 at 04 47 25" src="https://user-images.githubusercontent.com/1441127/155454328-73212dd4-299b-4f5f-8f56-93b183150578.png">

Edit: I built a new box with a 200

[2022-03-09 03:12] lonedevel commented on #411
Thank you @legal90!  Much appreciated!

[2022-03-18 17:04] bialystok opened #418 "Error while command execution"
While I execute the command `vagrant up --provider=parallels`, during Booting VM it shows me this error:

`There was an error while command execution. The command and stderr is shown below.

Command: ["/usr/local/bin/prlctl", "start", "7e1d38c1-68b5-4fa5-b5ef-a4aece634873"]

Stderr: Failed to start the VM: Operation failed. Failed to execute the operation.`

[2022-03-30 21:46] jhgorse opened #419 "documentation out of date for m1 macs"
https://parallels.github.io/vagrant-parallels/docs/getting-started.html

[code]

results in
[code]

At the time of this reading, there are no available aarch64 or arm64v8 for ubuntu 18. Consider updating the documentation and providing an aarch64 box to start with.

Cheers,
Joe

[2022-04-08 05:06] rcousens commented on #417
It's the auto-install for ubuntu 20.04 that sets the default PV extents to half the available space. See: https://askubuntu.com/questions/1244293/how-to-autoinstall-config-fill-disk-option-on-ubuntu-20-04-automated-server-in

[2022-04-08 05:12] rcousens commented on #419
Use ubuntu 20.04, bento provides an arm64 box for focal but not bionic.

See https://github.com/chef/bento/tree/main/packer_templates/ubuntu

[2022-04-08 05:20] gadelkareem commented on #417
Got it, thanks!

[2022-04-08 05:20] #417 closed

[2022-04-08 18:44] jhgorse commented on #419
Right, so let's update the documentation
https://parallels.github.io/vagrant-parallels/docs/getting-started.html

to reflect something that'll work for both x86 and arm64 platforms by default, like 20.04.

[2022-04-13 06:29] dnx-aiven commented on #401
I've found this issue after trying one of my Vagrantfiles on this new ARM Mac I've got. It took me a bit to get to this issue so posting my error string in hopes others will find it easier. A bit of research required on my part to work out how to "use an ISO or VHDX image file with an ARM-based operating system." with Vagrant (currently using `generic/ubuntu2004`).

[code]

[2022-04-14 17:36] strega-nil opened #420 "M1 macs: registering macOS VM images"
Hi all!

We're using vagrant-parallels to run our CI VMs, and it seems like there is an issue with spinning up macOS VMs on our M1s.

We set up the box using the standard method - downloading the parallels VM, and then making modifications to it, then tar'ing it up. When we try to run it, we get the following output:

[code]

when I tried to fix that by also searching for `.macvm` files, (since th

[2022-05-08 17:42] tolmasky opened #421 "OK to make a PR to override parallels tools location?"
Without going into a ton of detail, in our setup the automatic parallels tools discovery that vagrant parallels uses through mdfind can't work. We currently have a private fork of vagrant-parallels that replaces this [line in installs_parallels_tools.rb](https://github.com/Parallels/vagrant-parallels/blob/master/lib/vagrant-parallels/guest_cap/linux/install_parallels_tools.rb#L17) with the specifi

[2022-05-10 14:01] legal90 commented on #421
Hi @tolmasky ,
Yes, sure, please send a PR and I'll be happy to review it 👍

[2022-05-31 16:30] tolmasky opened #423 "Supporting hard drive size configuration"
We've been able to get hard drive size configuration working with the following:

[code]

However, this also requires us to first modify the Parallels box available on vagrant cloud:

[code]

After this, you can finally treat size just like memory, and you can resize it freely across reboots as well:

[code]

We've wrapped up that unfortunate `prlctl merge` stuff in a function that lets you call i

[2022-06-01 16:49] amzaandrei opened #424 "Docker running in Parallels Desktop on Macbook M1"
Hei there!

I am just wondering if someone has achieved to be able to run Docker Desktop app in the Parallels Desktop VM on a m1 Machine. I rely on a project at the moment where i need to build a Dockerfile through Visual Studio and the only option that i have is running Windows inside of a VM.
Thanks a lot for your help!

![Screenshot 2022-06-01 at 18 49 44](https://user-images.githubusercontent.

[2022-06-09 21:33] NahsiN commented on #419
Hello I've and m1 machine running Vagrant 2.2.19. The following still does not work for me. It gives the _same_ error reported in the first post
[code]

[2022-06-16 16:24] AlekseyKorzun commented on #409
Thanks, bruv 🙏🏼

[2022-07-28 20:57] adriannaeguevarra commented on #409
This solved my issue :)

[2022-09-20 09:52] robrecord opened #426 ""Failed to add Virtual Network" when bringing up VM - vagrant 2.3.0 and parallels 18"
When spinning up my virtual machines with the latest vagrant 2.3.0 and Parallels 18, I get the following error:

[code]

Info:

[code]

[2022-09-20 18:12] legal90 commented on #426
@robrecord It seems that you are using the `private_network` configuration with network CIDR which overlaps with some other private networks which you Mac is connected to.

Please double check the `private_network` section in your Vagrantfile and change the network IP / mask there.
https://parallels.github.io/vagrant-parallels/docs/networking/private_network.html
https://www.vagrantup.com/docs/net

[2022-10-05 19:14] ps-mattstuart opened #427 "Tools failure on linux when ptiagent install fails"
Issue:

Usually during an OS upgrade and kernels got rebuilt / installed the next time it comes up the ptiagent --install command fails with the message:

Symptom:

`The following SSH command responded with a non-zero exit status.
Vagrant assumes that this means the command failed!

ptiagent-cmd --install

Stdout from the command:

Stderr from the command:

modprobe: FATAL: Module prl_tg not found

[2022-10-07 10:51] davidolrik commented on #426
I also have this problem.

- macOS 12.6 (21G115) - Intel
- Vagrant 2.3.1
- vagrant-parallels 2.2.5
- Parallels Desktop 18.0.2 (53077)

I use the following ip ranges, which are not in use anywhere else on my Mac:

 - Shared: 198.51.100.0/24
 - Host-only: 192.0.2.0/24

I'v turned off IPv6 DHCP in Parallels preferences.

Doing a `vagrant up` creates the two nodes, and then fails with the following er

[2022-10-07 16:41] legal90 commented on #426
Pinging @romankulikov - Do you see any reason why does that command fail in this case?
[code]
I can't reproduce this issue locally, it works just fine on the similar setup - same PD and macOS versions, on the Intel-based Mac.
I know that by default that command produces the interface with CIDR `10.37.132.0/24`, even if we pass any other cidr via `--ip` arg (and that's why we don't use it here). Bu

[2022-10-09 13:52] davidolrik commented on #426
@legal90 Thanks for the work around, I can now spin up my two nodes 👍🏽

According to the [docs](https://parallels.github.io/vagrant-parallels/docs/networking/private_network.html) the `ip` argument only assigns a static ip, I would never  have guessed that you also can use it to set the network address.

Given the configuration above, I would only expect one private network (host only) to be confi

[2022-10-11 09:54] legal90 commented on #426
@davidolrik Yes,  the interface for `Shared` network (in your case, eth0 with `198.51.100.6`) is alway configured by aour Vagrant provider for all Parallels VMs when they are created. This interface is used by Vagrant for the communication with the VM by ssh.

When you add `private_network` to the config, it will just add another interface with a desired network settings.
In the common use case -

[2022-10-12 10:54] davidolrik commented on #426
Ok, I find that to be a bit confusing and not at all what I expect to happen - and it could also be the cause of my original problem: If you always add private and public(shared) network, then that could conflict with any user provided configuration.

VMs can also access each other via the `private_network`, no need for a "Shared" network for this to work.
"Shared" is what currently is known as `p

[2022-10-18 10:12] meermanr commented on #374
Here are some manual steps for installing Parallel Tools on Alpine which worked for me:

Based heavily on the work of [m-emelchenkov / vagrant-alpine / commit / b133defd7e76 — Bitbucket](https://bitbucket.org/m-emelchenkov/vagrant-alpine/commits/b133defd7e76a9e776932aa61b8d06ffe7b54cb4#chg-Packer/files/prltoolsd.start)

[code]

End of log file:

[code]

- Kernel modules were compiled and installed

[2022-10-27 18:03] nsudheendra-godaddy opened #428 "764525110978.dkr.ecr.us-west-2.amazonaws.com/amazonlinux:2.0.20211001.0"

[2022-10-28 21:06] #428 closed

[2022-11-02 10:25] mplaats commented on #409
Just remove the machines in the .vagrant/machines folder if you can miss the data. There you find most of the time a reference to virtualbox. Offcourse first check out the contents :-)